page-payment-modal {

    .toolbar-background {
        background-color:color($colors,primary);
      }
    .content{
        background:#002147;


        // .card:hover{
        //     transform:scale(1.1);
        // }

        // .card:active{
        //     transform:scale(1.1);
        // }

        .swiper-slide-active{
            transform:scale(1.04);
        }

        .swiper-slide{
            opacity:1; 
            transition: transform .6s ease-in-out;
        }


        .card{
            background:rgb(66, 66, 66);
            border-radius:7px;
              

            
            img{
                height:150px;
                width:auto;
            }
            .card-header{
                background:rgb(32, 32, 32) !important;
                height:70px !important;
                h2{
                    font-size:22px;
                    font-weight:bold;
                    letter-spacing: 1.8px;
                    color:white;
                }
            }

            .card-price{
                background:transparent;
                h1{
                    font-size:35px;
                    font-weight:bold;
                    color:rgb(230, 230, 230);
                }
            }

            .card-button{
                background:transparent;
                .button{
                    height:20px;
                }
            }

            .card-content{
                background:rgb(66, 66, 66);
               
                p{
                    font-size:13px;
                    color:white;
                }

                span{
                    font-size:12px;
                    color:rgb(230, 230, 230);
                }
                ion-icon{
                    color:color($colors,primary);
                }
            }
        }
    }
}
