page-payment-modal {

    .toolbar-background {
        background-color:color($colors,primary);
      }
    .content{
        background:#002147;


        // .card:hover{
        //     transform:scale(1.1);
        // }

        // .card:active{
        //     transform:scale(1.1);
        // }

        .swiper-slide-active{
            transform:scale(1.1);
            filter:blur(0);
        }

        .swiper-slide{
            opacity:1; 
            transition: transform .6s ease-in-out;
        }

        .swiper-slide-prev{
            transition:filter 0.6s linear;
            filter:blur(6px);
        }

        .swiper-slide-next{
            transition:filter 0.6s linear;
            filter:blur(6px);
        }

        .card{
            background:rgb(66, 66, 66);
            border-radius:7px;
              

            
            img{
                height:150px;
                width:auto;
            }
            .card-header{
                background:rgb(32, 32, 32) !important;
                height:70px !important;
                h2{
                    font-size:22px;
                    font-weight:bold;
                    letter-spacing: 1.8px;
                    color:white;
                }
            }

            .card-price{
                background:transparent;
                h1{
                    font-size:35px;
                    font-weight:bold;
                    color:rgb(230, 230, 230);
                }
            }

            .card-button{
                background:transparent;
                .button{
                    // font-size:15px;
                    height:20px;
                }
            }

            .card-content{
                background:rgb(66, 66, 66);
                // white-space: pre-wrap;      /* CSS3 */   
                // white-space: -moz-pre-wrap; /* Firefox */    
                // white-space: -pre-wrap;     /* Opera <7 */   
                // white-space: -o-pre-wrap;   /* Opera 7 */    
                // word-wrap: break-word;      /* IE */
                p{
                    font-size:16px;
                    color:white;
                }

                span{
                    font-size:14px;
                    color:rgb(230, 230, 230);
                }
                ion-icon{
                    color:color($colors,primary);
                }
            }
        }
    }
}
