page-gamelist {


    @media only screen and (max-width: 380px) {
        .mediaQuery{
            display:none;
        }
    }

    .list-container{
        width:620px;   
    }
    .toolbar-background {
        background-color:color($colors,primary);
      }

      .content{
          background-color:#002147;
          .item{
              background:transparent;
              color:white;
              padding:0px;
             
            //   font-weight:bold;
          }

          
          #moreButton{
              border:0;
          }

          #addButton{
              border:0;
          }

          #decreaseButton{
              border:0;
          }
          

      }

      ion-segment{
        padding-bottom:35px;
        padding-top:10px;
        
    }
    .segment .segment-button {
        font-size:17px;
    }



}
