page-gamelist {

    .list-container{
        width:620px;        
    }
    .toolbar-background {
        background-color:color($colors,primary);
      }

      .content{
          background-color:#002147;
          .item{
              background:transparent;
              color:white;
            //   font-weight:bold;
          }

      }

      ion-segment{
        padding-bottom:35px;
        padding-top:10px;
        
    }
    .segment .segment-button {
        font-size:17px;
    }



}
