<!--
  Generated template for the GamelistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="isOwnUser; else otherBlock">My List</ion-title>
    <ng-template #otherBlock>
      <ion-title>
        {{username}} List
      </ion-title>
    </ng-template>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row justify-content-center>

  <div class="list-container">

  
    <ion-segment [(ngModel)]="type">
        <ion-segment-button value="offer">
          Offering
        </ion-segment-button>
        <ion-segment-button value="interested">
          Interested
        </ion-segment-button>
        
    </ion-segment>


    <div [ngSwitch]="type">

    <ion-list *ngSwitchCase="'interested'">
        <ion-item *ngFor="let game of interestedGames" no-lines>
            <ion-row no-padding align-items-center>
    
                <ion-col col-3 no-padding>
                  <img src="https://{{game.game.coverPhoto}}" alt="cover">
                  <!-- <ion-input [(ngModel)]="coverPhoto" formControlName="coverPhoto" id="imageInput"></ion-input> -->
                </ion-col>
    
                <ion-col col-7 padding-left>
                  <ion-row justify-content-start>
                      <div text-wrap> {{game.game.title}} </div>
                  </ion-row>
                  <ion-row justify-content-start>
                      <p text-wrap>{{game.game.platform}}</p>
                  </ion-row>
                  <ion-row justify-content-start>
                      <p text-wrap>{{game.game.genre}}</p>
                  </ion-row>
                  <ion-row justify-content-start>
                      <p text-wrap>{{game.game.releaseDate}}</p>
                  </ion-row>
                  <!-- <p style="font-weight:bold;">Quantity: <span>{{game.game.quantity}}</span></p> -->
                </ion-col>
                
                <ion-col col-2 no-padding>

                  <ion-row *ngIf="isOwnUser" justify-content-end>
                    <!-- <ion-col col-3 no-padding>
                        <button ion-button outline icon-only id="moreButton" (click)="decreaseGame(game.key)"><ion-icon name="remove-circle"></ion-icon></button>
                    </ion-col>

                    <ion-col col-3 no-padding >
                      <ion-row no-padding justify-content-center>
                        {{game.game.quantity}} copy
                      </ion-row>
                    </ion-col>
        
                    <ion-col col-3 no-padding>
                            <button ion-button outline icon-only id="moreButton" (click)="addGame(game.key)"><ion-icon name="add-circle"></ion-icon></button>
                    </ion-col> -->
                    
                    
                            <button ion-button outline icon-only id="moreButton" (click)="showPopover($event,game)"><ion-icon name="more"></ion-icon></button>
                  
                  </ion-row>

                </ion-col>

                
            </ion-row> 
        </ion-item>

        <ion-item *ngIf="interestedGames.length === 0">
          <ion-row justify-content-center>
            There are no games added to interested games list.
          </ion-row>
        </ion-item>

        <!-- <ion-item>
            <ion-row justify-content-center>
                <button ion-button outline icon-left (click)="goToAddGames()"><ion-icon name="add"></ion-icon>ADD GAMES</button>
              </ion-row>
        </ion-item> -->
    </ion-list>
    

    <ion-list *ngSwitchCase="'offer'">
        <ion-item *ngFor="let game of offeringGames" no-lines>
            <ion-row no-padding align-items-center *ngIf="isOwnUser; else otherUser">
    
                <ion-col col-2 padding-right>
                  <img src="https://{{game.game.coverPhoto}}" alt="cover">
                  <!-- <ion-input [(ngModel)]="coverPhoto" formControlName="coverPhoto" id="imageInput"></ion-input> -->
                </ion-col>
    
                <ion-col col-5 no-padding>
                    <div text-wrap> {{game.game.title}} </div>
                    <p text-wrap>{{game.game.platform}}</p>
                    <p text-wrap>{{game.game.genre}}</p>
                    <p text-wrap>{{game.game.releaseDate}}</p>
                    <p style="font-weight:bold;">Available units: <span>{{game.game.quantity}}</span></p>
                  </ion-col>
                  
                  <ion-col col-5 no-padding>
  
                    <ion-row justify-content-start align-items-center>
                      <ion-col col-5>
                          <button ion-button outline icon-only id="decreaseButton" (click)="decreaseGame(game.key)"><ion-icon name="remove-circle"></ion-icon></button>
                      </ion-col>
  
                      <!-- <ion-col class="mediaQuery" col-3 no-padding >
                        <ion-row *ngIf="game.game.quantity === 1; else other" no-padding justify-content-center>
                          {{game.game.quantity}} unit
                        </ion-row>

                        <ng-template #other>
                            <ion-row no-padding justify-content-center>
                                {{game.game.quantity}} units
                              </ion-row>
                        </ng-template>
                      </ion-col> -->
          
                      <ion-col col-4>
                              <button ion-button outline icon-only id="addButton" (click)="addGame(game.key)"><ion-icon name="add-circle"></ion-icon></button>
                      </ion-col>
                      
                      <ion-col col-3>
                              <button ion-button outline icon-only id="moreButton" (click)="showPopover($event,game)"><ion-icon name="more"></ion-icon></button>
                      </ion-col>
                    </ion-row>
                    
                  </ion-col>
  
            </ion-row> 
            <ng-template #otherUser>
                <ion-row no-padding align-items-center>
    
                    <ion-col col-4 padding-right>
                      <img src="https://{{game.game.coverPhoto}}" alt="cover">
                      <!-- <ion-input [(ngModel)]="coverPhoto" formControlName="coverPhoto" id="imageInput"></ion-input> -->
                    </ion-col>
        
                    <ion-col col-8 no-padding>
                        <div text-wrap> {{game.game.title}} </div>
                        <p text-wrap>{{game.game.platform}}</p>
                        <p text-wrap>{{game.game.genre}}</p>
                        <p text-wrap>{{game.game.releaseDate}}</p>
                        <p style="font-weight:bold;">Available units: <span>{{game.game.quantity}}</span></p>
                      </ion-col>
                      
                      
      
                </ion-row> 
            </ng-template>
        </ion-item>

        <ion-item *ngIf="offeringGames.length === 0">
            <ion-row justify-content-center>
              There are no games added to offering games list.
            </ion-row>
        </ion-item>

        <!-- <ion-item>
            <ion-row justify-content-center>
                <button ion-button outline icon-left (click)="goToAddGames()"><ion-icon name="add"></ion-icon>ADD GAMES</button>
              </ion-row>
        </ion-item> -->
    </ion-list>

  </div>


</div>

</ion-row>
    
  
</ion-content>

<ion-footer *ngIf="isOwnUser">
  <ion-row justify-content-center>
    <button ion-button outline icon-left (click)="goToAddGames()"><ion-icon name="add"></ion-icon>ADD GAMES</button>
  </ion-row>
</ion-footer>
