page-pick-game {
    .toolbar-background {
        background-color:color($colors,primary);
      } 

    @media only screen and (max-width: 460px) {
        .mediaQuery{
            display:none !important;
        }

        .pickedQuery{
            display:block !important;
        }
    }

    .title{
        h1{
            border-bottom:3px solid white;
        }
    }

    .game-photo{
        cursor: pointer;
    }


    .pickedQuery{
        display:none;
    }

    .content{
        background: #003470;  /* fallback for old browsers */
        color:white;
        p{
        color:rgb(158, 158, 158)
        }  
        
        #moreButton{
            border:0;
        }
        
    }

      .selected{
          background:#0061bb !important;
      }

    .item{
        background: #003470;  /* fallback for old browsers */
        color:white;
    }
}
