<!--
  Generated template for the PickGamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pick Game</ion-title>
    <ion-buttons right>
        <button detail-none icon-right ion-button (click)="showPopover($event)">
            <ion-icon name="more"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row class="title" *ngIf="!isUser" justify-content-center>
    <h1>{{username}}'s offering games </h1>
  </ion-row>

  <ion-row class="title" *ngIf="isUser" justify-content-center>
      <h1>Your available games to trade </h1>
  </ion-row>


  <div [ngSwitch]="filter">

  <ion-list *ngIf="filter === 'game'">
    <ion-item *ngFor="let game of games" [class.selected]="game.game.selected" no-lines>
        <ion-row no-padding align-items-center>

            <ion-col col-3 no-padding>
              <img (click)="viewGame(game.key)" class="game-photo" src="https://{{game.game.coverPhoto}}" alt="cover">
              <!-- <ion-input [(ngModel)]="coverPhoto" formControlName="coverPhoto" id="imageInput"></ion-input> -->
            </ion-col>

            <ion-col col-5 padding-left> 

              <div text-wrap> {{game.game.title}} </div>
              <p text-wrap>{{game.game.platform}}</p>
              <p text-wrap>{{game.game.genre}}</p>
              <p text-wrap>{{game.game.releaseDate}}</p>
              <p *ngIf="!game?.game?.blockedItem" style="font-weight:bold;">Available units: <span>{{game?.game.available}}</span></p>
              <p *ngIf="game.game?.blockedItem" style="font-weight:bold;">No units available</p>
            </ion-col>

            <ion-col col-4 no-padding>

              <ion-row  justify-content-start align-items-center no-padding>

                <ion-col *ngIf="!game?.game?.blockedItem" col-4 no-padding>
                    <button ion-button outline [disabled]="game.game.blockedItem" icon-only id="moreButton" (click)="gameRemoved(game.game)"><ion-icon name="remove-circle"></ion-icon></button>
                </ion-col>

                <ion-col *ngIf="!game?.game?.blockedItem" class="mediaQuery" col-4 no-padding>
                  <ion-row *ngIf="!game?.game?.blockedItem" justify-content-center>
                      {{game.game.pickedGames}} picked
                  </ion-row>
                </ion-col>

                <ion-col *ngIf="!game?.game?.blockedItem" col-4 no-padding>
                   <button ion-button outline icon-only [disabled]="game.game.blockedItem" id="moreButton" (click)="gameSelected(game.game)"><ion-icon name="add-circle"></ion-icon></button>
                </ion-col>

                <div *ngIf="game.game.blockedItem" text-wrap>
                  Item involved in trade
                </div>
                  <!-- <button ion-button round icon-only *ngIf="game.selected" (click)="gameRemoved(game)" ><ion-icon name="remove"></ion-icon></button> -->
                  <!-- <button ion-button round icon-only *ngIf="!game.selected" (click)="gameSelected(game)"><ion-icon name="add"></ion-icon></button> -->
              </ion-row>

              <ion-row class="pickedQuery" *ngIf="!game?.game?.blockedItem" justify-content-center>
                  {{game.game.pickedGames}} picked
              </ion-row>
              
            </ion-col>
        </ion-row> 
    </ion-item>
  </ion-list>

  <ion-list *ngIf="filter === 'console'">
      <ion-item *ngFor="let console of consoles" [class.selected]="console.selected" no-lines>
          <ion-row no-padding align-items-center>
  
              <ion-col col-3 no-padding>
                <img class="game-photo" src="{{console.coverImage}}" alt="cover">
              </ion-col>
  
              <ion-col col-5 padding-left> 
  
                <div text-wrap> {{console.name}} </div>
                <p *ngIf="!console?.blockedItem" style="font-weight:bold;">Available units: <span>{{console?.available}}</span></p>
                <p *ngIf="console?.blockedItem" style="font-weight:bold;">No units available</p>
              </ion-col>
  
              <ion-col col-4 no-padding>
  
                <ion-row  justify-content-start align-items-center no-padding>
  
                  <ion-col *ngIf="!console?.blockedItem" col-4 no-padding>
                      <button ion-button outline [disabled]="console?.blockedItem" icon-only id="moreButton" (click)="consoleRemoved(console)"><ion-icon name="remove-circle"></ion-icon></button>
                  </ion-col>
  
                  <ion-col *ngIf="!console?.blockedItem" class="mediaQuery" col-4 no-padding>
                    <ion-row *ngIf="!console?.blockedItem" justify-content-center>
                        {{console.pickedGames}} picked
                    </ion-row>
                  </ion-col>
  
                  <ion-col *ngIf="!console?.blockedItem" col-4 no-padding>
                     <button ion-button outline icon-only [disabled]="console?.blockedItem" id="moreButton" (click)="consoleSelected(console)"><ion-icon name="add-circle"></ion-icon></button>
                  </ion-col>
  
                  <div *ngIf="console?.blockedItem" text-wrap>
                    Item involved in trade
                  </div>
                    <!-- <button ion-button round icon-only *ngIf="game.selected" (click)="gameRemoved(game)" ><ion-icon name="remove"></ion-icon></button> -->
                    <!-- <button ion-button round icon-only *ngIf="!game.selected" (click)="gameSelected(game)"><ion-icon name="add"></ion-icon></button> -->
                </ion-row>
  
                <ion-row class="pickedQuery" *ngIf="!console?.blockedItem" justify-content-center>
                    {{console.pickedConsoles}} picked
                </ion-row>
                
              </ion-col>
          </ion-row> 
      </ion-item>
    </ion-list>

    <ion-list *ngIf="filter === 'accessories'">
        <ion-item *ngFor="let console of accessories" [class.selected]="console.selected" no-lines>
            <ion-row no-padding align-items-center>
    
                <ion-col col-3 no-padding>
                  <img class="game-photo" src="{{console.coverImage}}" alt="cover">
                </ion-col>
    
                <ion-col col-5 padding-left> 
    
                  <div text-wrap> {{console.name}} </div>
                  <p *ngIf="!console?.blockedItem" style="font-weight:bold;">Available units: <span>{{console?.available}}</span></p>
                  <p *ngIf="console?.blockedItem" style="font-weight:bold;">No units available</p>
                </ion-col>
    
                <ion-col col-4 no-padding>
    
                  <ion-row  justify-content-start align-items-center no-padding>
    
                    <ion-col *ngIf="!console?.blockedItem" col-4 no-padding>
                        <button ion-button outline [disabled]="console?.blockedItem" icon-only id="moreButton" (click)="accessorieRemoved(console)"><ion-icon name="remove-circle"></ion-icon></button>
                    </ion-col>
    
                    <ion-col *ngIf="!console?.blockedItem" class="mediaQuery" col-4 no-padding>
                      <ion-row *ngIf="!console?.blockedItem" justify-content-center>
                          {{console.pickedAccessories}} picked
                      </ion-row>
                    </ion-col>
    
                    <ion-col *ngIf="!console?.blockedItem" col-4 no-padding>
                       <button ion-button outline icon-only [disabled]="console?.blockedItem" id="moreButton" (click)="accessorieSelected(console)"><ion-icon name="add-circle"></ion-icon></button>
                    </ion-col>
    
                    <div *ngIf="console?.blockedItem" text-wrap>
                      Item involved in trade
                    </div>
                      <!-- <button ion-button round icon-only *ngIf="game.selected" (click)="gameRemoved(game)" ><ion-icon name="remove"></ion-icon></button> -->
                      <!-- <button ion-button round icon-only *ngIf="!game.selected" (click)="gameSelected(game)"><ion-icon name="add"></ion-icon></button> -->
                  </ion-row>
    
                  <ion-row class="pickedQuery" *ngIf="!console?.blockedItem" justify-content-center>
                      {{console.pickedAccessories}} picked
                  </ion-row>
                  
                </ion-col>
            </ion-row> 
        </ion-item>
      </ion-list>

  



  </div>


  <ion-fab bottom right #fab>
      <button *ngIf="!isUser" ion-fab [disabled]="getTotalCount() == 0" (click)="next()"><ion-icon name="arrow-forward"></ion-icon></button>
      <button *ngIf="isUser" ion-fab [disabled]="getTotalCount() == 0" (click)="createTrade()"><ion-icon name="arrow-forward"></ion-icon></button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-segment [(ngModel)]="filter" class="item-filter">
      <ion-segment-button value="game">
        <ion-icon name="game-controller-b"></ion-icon>
        <div style="margin-top: -20px !important; ">
            Games
          </div>
      </ion-segment-button>
      <ion-segment-button value="console">
        <ion-icon name="game-controller-a"></ion-icon>
        <div style="margin-top: -20px !important; ">
            Consoles
          </div>
      </ion-segment-button>
      <ion-segment-button value="accessories">
        <ion-icon name="basket"></ion-icon>
        <div style="margin-top: -20px !important; ">
            Accessories
          </div>
      </ion-segment-button>
  </ion-segment>
</ion-footer>