<!-- Generated template for the MenuComponent component -->
<div>
    <ion-list no-lines>

      <ion-list-header no-lines>
        Actions
      </ion-list-header>
      <ion-item no-padding>
        <button detail-none menuClose ion-item outline text-wrap (click)="createPublic()"><ion-icon name="people" item-end></ion-icon>
          Create Public Chat</button>
      </ion-item>
      <ion-item no-padding>
        <button detail-none menuClose ion-item outline text-wrap (click)="createPrivate()"><ion-icon name="key" item-end></ion-icon>
          Create Private Chat</button>
      </ion-item>
      <ion-item no-padding>
            <button detail-none menuClose ion-item outline text-wrap (click)="showPayment()"><ion-icon name="card" item-end></ion-icon>
              Set up payment</button>
          </ion-item>
        <ion-item no-padding>
            <button detail-none menuClose ion-item outline text-wrap (click)="goToList()"><ion-icon name="list" item-end></ion-icon>
             My Games List</button>
          </ion-item>
          <ion-item no-padding>
            <button detail-none menuClose ion-item outline text-wrap (click)="goToNotification()"><ion-icon name="notifications" item-end></ion-icon>
             Notifications</button>
          </ion-item>

          <ion-item no-padding>
                <button detail-none menuClose ion-item outline text-wrap><ion-icon name="contacts" item-end></ion-icon>
                 My Friends</button>
              </ion-item>

        

    </ion-list>

    <!-- <ion-list no-lines> 

        <ion-list-header no-lines>
              <ion-icon name="contacts"></ion-icon>Friends
        </ion-list-header>

        <ion-item *ngFor="let friend of friends" no-padding>
            <ion-row>
                <ion-col col-2>
                    <ion-icon name="contact"></ion-icon>
                </ion-col>
                <ion-col col-8>
                    {{friend.username}}
                </ion-col>
                <ion-col col-2>
                    <ion-icon id="more" name="more" (click)="presentPopover($event,friend.key,friend.username)"item-end></ion-icon>
                </ion-col>
            </ion-row>
        </ion-item>
        
    </ion-list> -->

</div>

