<!-- Generated template for the MenuComponent component -->
<div>
    <ion-list no-lines>

      <ion-list-header no-lines>
        Actions
      </ion-list-header>
      <ion-item no-padding>
        <button menuClose ion-item outline text-wrap (click)="createPublic()"><ion-icon name="people" item-end></ion-icon>
          CREATE PUBLIC ROOM</button>
      </ion-item>
      <ion-item no-padding>
        <button menuClose ion-item outline text-wrap><ion-icon name="key" item-end></ion-icon>
          CREATE PRIVATE ROOM</button>
      </ion-item>

    </ion-list>

    <ion-list no-lines>
        <ion-list-header no-lines>
              Friends
        </ion-list-header>
        
      </ion-list>

</div>

