<!-- Generated template for the MenuComponent component -->
<div>
    <ion-list no-lines>

      <ion-list-header no-lines>
        Actions
      </ion-list-header>
      <ion-item no-padding>
        <button detail-none menuClose ion-item outline text-wrap (click)="createPublic()"><ion-icon name="people" item-end></ion-icon>
          CREATE PUBLIC ROOM</button>
      </ion-item>
      <ion-item no-padding>
        <button detail-none menuClose ion-item outline text-wrap (click)="createPrivate()"><ion-icon name="key" item-end></ion-icon>
          CREATE PRIVATE ROOM</button>
      </ion-item>
      <ion-item no-padding>
            <button detail-none menuClose ion-item outline text-wrap (click)="showPayment()"><ion-icon name="card" item-end></ion-icon>
              SET UP PAYMENT</button>
          </ion-item>

    </ion-list>

    <ion-list no-lines> 

        <ion-list-header no-lines>
              <ion-icon name="contacts"></ion-icon>Friends
        </ion-list-header>

        <ion-item *ngFor="let friend of friends" no-padding>
            <ion-row>
                <ion-col col-2>
                    <ion-icon name="contact"></ion-icon>
                </ion-col>
                <ion-col col-8>
                    {{friend.username}}
                </ion-col>
                <ion-col col-2>
                    <ion-icon id="more" name="more" (click)="presentPopover($event,friend.key,friend.username)"item-end></ion-icon>
                </ion-col>
            </ion-row>
        </ion-item>
        
    </ion-list>

</div>

