<!--
  Generated template for the TradeHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

                <ion-navbar hideBackButton="false">
                  <ion-title></ion-title>
                  <ion-buttons right>
                      <button detail-none icon-right ion-button (click)="showPopover($event)">
                          <ion-icon name="more"></ion-icon>
                      </button>
                  </ion-buttons>
                </ion-navbar>
              
</ion-header>

<ion-content no-padding>



    

<div>

    <ion-segment [(ngModel)]="type">
        <ion-segment-button value="proposed">
          Proposed
        </ion-segment-button>
        <ion-segment-button value="received">
          Received
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="type">


    <ion-list *ngSwitchCase="'proposed'">
        <ion-row *ngIf="proposedTrades.length === 0" justify-content-center>
                <h5 text-wrap>No trades have been proposed yet.</h5>
        </ion-row>
      <ion-item *ngFor="let trade of proposedTrades">
              <ion-row justify-content-center>
                      <ion-col col-5>
                                <ion-stepper mode="vertical">
                                                <ion-step 
                                                      label="Timer"
                                                      icon="timer"
                                                      description="Waiting response from user">
                                                </ion-step>
                                                <ion-step 
                                                      label="Response"
                                                      icon="checkmark"
                                                      description="User accepted the trade">
                                                </ion-step>
                                                <ion-step 
                                                      label="Approval"
                                                      icon="people"
                                                      description="Waiting for TUG admins approval">
                                                </ion-step>
                                                <ion-step 
                                                      label="Shipped"
                                                      icon="paper-plane"
                                                      description="Package has been shipped">
                                                </ion-step>
                                                <ion-step 
                                                      label="Delivered"
                                                      icon="happy"
                                                      description="User received the package"    
                                                >
                                                </ion-step>
                                              </ion-stepper>
                                      
                      </ion-col>
                      <ion-col col-7 align-self-center>
                                <ion-row justify-content-end>
                                        <h2 class="price" text-wrap *ngIf="!trade.timer?.hasFinished">{{trade?.timer?.displayTime}}</h2>
                                </ion-row>
                                <ion-row justify-content-center>
                                                <ion-col col-5>
                                                <ion-slides pager>                                        
                                  
                                                        <ion-slide *ngFor="let game of trade?.trade?.items | gameType:{type:'interested'}">
                                                        <div *ngIf="game.itemType === 'game'">
                                                                <ion-row justify-content-center>
                                                                                <img (click)="viewGame(game.key)" class="game-photo" src="https://{{game.game?.coverPhoto}}" alt="">
                                                                                <ion-badge>{{game.game?.pickedGames}}</ion-badge>
                                                                </ion-row>
                                                                <ion-row justify-content-center>
                                                                        <p class="game-title" text-wrap>{{game.game?.title | titlecase}}</p>
                                                                </ion-row>
                                                                <ion-row justify-content-center>
                                                                        <p text-wrap class="game-platform">{{game.game?.platform | titlecase}}</p>
                                                                </ion-row>
                                                        </div>
                                  
                                  
                                                        <div *ngIf="game.itemType === 'console'">
                                                                        <ion-row justify-content-center>
                                                                                        <img  class="game-photo" src="{{game.console?.coverImage}}" alt="">
                                                                                        <ion-badge>{{game.console?.pickedConsoles}}</ion-badge>
                                                                        </ion-row>
                                                                        <ion-row justify-content-center>
                                                                                <p class="game-title" text-wrap>{{game.console?.name | titlecase}}</p>
                                                                        </ion-row>
                                                                      
                                                        </div>
                                  
                                                        <div *ngIf="game.itemType === 'accessorie'">
                                                                        <ion-row justify-content-center>
                                                                                        <img  class="game-photo" src="{{game.accessorie?.coverImage}}" alt="">
                                                                                        <ion-badge>{{game.accessorie?.pickedAccessories}}</ion-badge>
                                                                        </ion-row>
                                                                        <ion-row justify-content-center>
                                                                                <p class="game-title" text-wrap>{{game.accessorie?.name | titlecase}}</p>
                                                                        </ion-row>
                                                        </div>
                                  
                                                        </ion-slide>
                                                </ion-slides>
                                                </ion-col>
                                                <ion-col col-2 align-self-center>
                                                  <ion-row justify-content-end>
                                                      <ion-icon class="swap-icon" name="swap"></ion-icon>
                                                  </ion-row>
                                                </ion-col>
                                                <ion-col col-5>
                                                <ion-slides pager>
                                                                <ion-slide *ngFor="let game of trade?.trade?.items | gameType:{type:'offering'}">
                                                                                <div *ngIf="game.itemType === 'game'">
                                                                                                <ion-row justify-content-center>
                                                                                                                <img (click)="viewGame(game.key)" class="game-photo" src="https://{{game.game?.coverPhoto}}" alt="">
                                                                                                                <ion-badge>{{game.game?.pickedGames}}</ion-badge>
                                                                                                </ion-row>
                                                                                                <ion-row justify-content-center>
                                                                                                        <p class="game-title" text-wrap>{{game.game?.title | titlecase}}</p>
                                                                                                </ion-row>
                                                                                                <ion-row justify-content-center>
                                                                                                        <p text-wrap class="game-platform">{{game.game?.platform | titlecase}}</p>
                                                                                                </ion-row>
                                                                                        </div>
                                  
                                  
                                                                                        <div *ngIf="game.itemType === 'console'">
                                                                                                        <ion-row justify-content-center>
                                                                                                                        <img  class="game-photo" src="{{game.console?.coverImage}}" alt="">
                                                                                                                        <ion-badge>{{game.console?.pickedConsoles}}</ion-badge>
                                                                                                        </ion-row>
                                                                                                        <ion-row justify-content-center>
                                                                                                                <p class="game-title" text-wrap>{{game.console?.name | titlecase}}</p>
                                                                                                        </ion-row>
                                                                                                      
                                                                                        </div>
                                  
                                                                                        <div *ngIf="game.itemType === 'accessorie'">
                                                                                                        <ion-row justify-content-center>
                                                                                                                        <img  class="game-photo" src="{{game.accessorie?.coverImage}}" alt="">
                                                                                                                        <ion-badge>{{game.accessorie?.pickedAccessories}}</ion-badge>
                                                                                                        </ion-row>
                                                                                                        <ion-row justify-content-center>
                                                                                                                <p class="game-title" text-wrap>{{game.accessorie?.name | titlecase}}</p>
                                                                                                        </ion-row>
                                                                                        </div>
                                  
                                                                </ion-slide>
                                                </ion-slides>
                                                </ion-col>
                                          </ion-row>
                                          <ion-row justify-content-center *ngIf="!trade?.timer?.hasFinished">
                                                        <button class="trade-btn" (click)="declineTrade(trade,true)" ion-button icon-start color="danger">
                                                                        <ion-icon name="close"></ion-icon>
                                                        Cancel</button>
                                          </ion-row>
                      </ion-col>
              </ion-row>
          <!-- <ion-row justify-content-end>
              <div class="timer-text">
              </div>
          </ion-row> -->

              
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'received'">
        <ion-row *ngIf="receivedTrades.length === 0" justify-content-center>
            <h5 text-wrap>No trades have been received yet.</h5>
        </ion-row>
        <ion-item *ngFor="let trade of receivedTrades">
                        <ion-row justify-content-center>
                                <ion-col col-5>
                                          <ion-stepper mode="vertical">
                                                          <ion-step 
                                                                label="Timer"
                                                                icon="timer"
                                                                description="Waiting response from user">
                                                          </ion-step>
                                                          <ion-step 
                                                                label="Response"
                                                                icon="checkmark"
                                                                description="User accepted the trade">
                                                          </ion-step>
                                                          <ion-step 
                                                                label="Approval"
                                                                icon="people"
                                                                description="Waiting for TUG admins approval">
                                                          </ion-step>
                                                          <ion-step 
                                                                label="Shipped"
                                                                icon="paper-plane"
                                                                description="Package has been shipped">
                                                          </ion-step>
                                                          <ion-step 
                                                                label="Delivered"
                                                                icon="happy"
                                                                description="User received the package"    
                                                          >
                                                          </ion-step>
                                                        </ion-stepper>
                                                
                                </ion-col>
                                <ion-col col-7 align-self-center>
                                        <ion-row justify-content-end>
                                                <h2 class="price" text-wrap *ngIf="!trade.timer?.hasFinished">{{trade?.timer?.displayTime}}</h2>
                                        </ion-row>
                                        <ion-row justify-content-center>
                                                          <ion-col col-5>
                                                          <ion-slides pager>                                        
                                            
                                                                  <ion-slide *ngFor="let game of trade?.trade?.items | gameType:{type:'interested'}">
                                                                  <div *ngIf="game.itemType === 'game'">
                                                                          <ion-row justify-content-center>
                                                                                          <img (click)="viewGame(game.key)" class="game-photo" src="https://{{game.game?.coverPhoto}}" alt="">
                                                                                          <ion-badge>{{game.game?.pickedGames}}</ion-badge>
                                                                          </ion-row>
                                                                          <ion-row justify-content-center>
                                                                                  <p class="game-title" text-wrap>{{game.game?.title | titlecase}}</p>
                                                                          </ion-row>
                                                                          <ion-row justify-content-center>
                                                                                  <p text-wrap class="game-platform">{{game.game?.platform | titlecase}}</p>
                                                                          </ion-row>
                                                                  </div>
                                            
                                            
                                                                  <div *ngIf="game.itemType === 'console'">
                                                                                  <ion-row justify-content-center>
                                                                                                  <img  class="game-photo" src="{{game.console?.coverImage}}" alt="">
                                                                                                  <ion-badge>{{game.console?.pickedConsoles}}</ion-badge>
                                                                                  </ion-row>
                                                                                  <ion-row justify-content-center>
                                                                                          <p class="game-title" text-wrap>{{game.console?.name | titlecase}}</p>
                                                                                  </ion-row>
                                                                                
                                                                  </div>
                                            
                                                                  <div *ngIf="game.itemType === 'accessorie'">
                                                                                  <ion-row justify-content-center>
                                                                                                  <img  class="game-photo" src="{{game.accessorie?.coverImage}}" alt="">
                                                                                                  <ion-badge>{{game.accessorie?.pickedAccessories}}</ion-badge>
                                                                                  </ion-row>
                                                                                  <ion-row justify-content-center>
                                                                                          <p class="game-title" text-wrap>{{game.accessorie?.name | titlecase}}</p>
                                                                                  </ion-row>
                                                                  </div>
                                            
                                                                  </ion-slide>
                                                          </ion-slides>
                                                          </ion-col>
                                                          <ion-col col-2 align-self-center>
                                                            <ion-row justify-content-end>
                                                                <ion-icon class="swap-icon" name="swap"></ion-icon>
                                                            </ion-row>
                                                          </ion-col>
                                                          <ion-col col-5>
                                                          <ion-slides pager>
                                                                          <ion-slide *ngFor="let game of trade?.trade?.items | gameType:{type:'offering'}">
                                                                                          <div *ngIf="game.itemType === 'game'">
                                                                                                          <ion-row justify-content-center>
                                                                                                                          <img (click)="viewGame(game.key)" class="game-photo" src="https://{{game.game?.coverPhoto}}" alt="">
                                                                                                                          <ion-badge>{{game.game?.pickedGames}}</ion-badge>
                                                                                                          </ion-row>
                                                                                                          <ion-row justify-content-center>
                                                                                                                  <p class="game-title" text-wrap>{{game.game?.title | titlecase}}</p>
                                                                                                          </ion-row>
                                                                                                          <ion-row justify-content-center>
                                                                                                                  <p text-wrap class="game-platform">{{game.game?.platform | titlecase}}</p>
                                                                                                          </ion-row>
                                                                                                  </div>
                                            
                                            
                                                                                                  <div *ngIf="game.itemType === 'console'">
                                                                                                                  <ion-row justify-content-center>
                                                                                                                                  <img  class="game-photo" src="{{game.console?.coverImage}}" alt="">
                                                                                                                                  <ion-badge>{{game.console?.pickedConsoles}}</ion-badge>
                                                                                                                  </ion-row>
                                                                                                                  <ion-row justify-content-center>
                                                                                                                          <p class="game-title" text-wrap>{{game.console?.name | titlecase}}</p>
                                                                                                                  </ion-row>
                                                                                                                
                                                                                                  </div>
                                            
                                                                                                  <div *ngIf="game.itemType === 'accessorie'">
                                                                                                                  <ion-row justify-content-center>
                                                                                                                                  <img  class="game-photo" src="{{game.accessorie?.coverImage}}" alt="">
                                                                                                                                  <ion-badge>{{game.accessorie?.pickedAccessories}}</ion-badge>
                                                                                                                  </ion-row>
                                                                                                                  <ion-row justify-content-center>
                                                                                                                          <p class="game-title" text-wrap>{{game.accessorie?.name | titlecase}}</p>
                                                                                                                  </ion-row>
                                                                                                  </div>
                                            
                                                                          </ion-slide>
                                                          </ion-slides>
                                                          </ion-col>
                                                    </ion-row>
                                                    <ion-row justify-content-center *ngIf="!trade?.timer?.hasFinished">
                                                        <button class="trade-btn" (click)="acceptTrade(trade)" ion-button icon-start color="secondary">
                                                                <ion-icon name="checkmark"></ion-icon>
                                                                Accept</button>
                                                        <button class="trade-btn" (click)="declineTrade(trade,false)" ion-button icon-start color="danger">
                                                                <ion-icon name="close"></ion-icon>
                                                                Decline</button>
                                                    </ion-row>
                                </ion-col>
                        </ion-row>
                    <!-- <ion-row justify-content-end>
                        <div class="timer-text">
                        </div>
                    </ion-row> -->
          
                        
                </ion-item>
    </ion-list>

  </div>




</div>
   


</ion-content>
