<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header text-align-center>
        <ion-toolbar>
                <button detail-none ion-button menuToggle left>
                  <ion-icon name="menu"></ion-icon>
                </button>
                <ion-title>
                  Chat
                </ion-title>
                <ion-buttons end>
                  <button detail-none ion-button icon-only>
                    <ion-icon name="exit"></ion-icon>
                  </button>
                </ion-buttons>
        </ion-toolbar>
</ion-header>


<ion-content padding>

    <div *ngIf="loading" class="horizontal div1">
            <div class="vertical">
                <ion-spinner name="crescent"></ion-spinner>
            </div>
    </div>

    <div *ngIf="!loading">
            <error-card errorMessage="{{error}}" *ngIf="showError"></error-card>

            <div *ngIf="!showError">
            <ion-card>
                <ion-list>

                        <ion-list-header>
                        Rooms
                        </ion-list-header>

                        <ion-item *ngFor="let room of rooms" no-padding> 
                            
                            <ion-row no-padding>
                                    <ion-col col-8 no-padding>
                                        <button detail-none ion-item outline text-wrap icon-only right (click)="enterChat(room,false)">{{room.name}}<ion-icon *ngIf="room.type == 'private' " name="key" item-end></ion-icon></button>
                                    </ion-col>

                                    <ion-col col-2 no-padding>
                                    <button detail-none ion-item outline text-wrap (click)="enterChat(room,false)"><ion-icon name="chatboxes" item-end></ion-icon>
                                    </button>
                                    </ion-col>

                                    <ion-col col-2 no-padding>
                                    <button detail-none ion-item outline text-wrap (click)="presentPopover($event,room.key)">
                                        <ion-icon name="more" item-end></ion-icon>
                                    </button>
                                    </ion-col>
                            </ion-row>
                           
                        
                        </ion-item>

                        <ion-item *ngIf="rooms?.length === 0">
                            <ion-row no padding justify-content-center>
                                    You don't have any active rooms.
                            </ion-row>
                        </ion-item>

                       
                
                </ion-list>
            </ion-card>
            <br>
            <br>
            <ion-card>
                <ion-list>

                        <ion-list-header>
                        Chats
                        </ion-list-header>

                        <ion-item no-padding *ngFor="let user of toUsername">

                            <button detail-none menuClose ion-item outline text-wrap (click)="enterChat(user,true)"><ion-icon name="chatboxes" item-end></ion-icon>
                                {{user.username}}</button>
                        </ion-item>

                        <ion-item *ngIf="toUsername?.length === 0">
                            <ion-row no padding justify-content-center>
                                    You don't have any active chats.
                            </ion-row>
                        </ion-item>


                        
                        
                
                </ion-list>
            </ion-card>
            </div>
            
    </div>

</ion-content>

