<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header text-align-center>
        <ion-toolbar>
                <button detail-none ion-button menuToggle left>
                  <ion-icon name="menu"></ion-icon>
                </button>
                <ion-title>
                  Chat
                </ion-title>

                <ion-buttons right>
                                <button detail-none icon-right ion-button (click)="showPopoverHeader($event)">
                                    <ion-icon name="more"></ion-icon>
                                </button>
                </ion-buttons>
                
        </ion-toolbar>
</ion-header>


<ion-content padding>

    <div *ngIf="loading" class="horizontal div1">
            <div class="vertical">
                <ion-spinner name="crescent"></ion-spinner>
            </div>
    </div>

    <div *ngIf="!loading">
            <error-card errorMessage="{{error}}" *ngIf="showError"></error-card>

            <div *ngIf="!showError">

                        <ion-segment [(ngModel)]="chatType">
                                        <ion-segment-button value="chatroom">
                                          Chatrooms
                                        </ion-segment-button>
                                        <ion-segment-button value="direct">
                                          Friends
                                        </ion-segment-button>
                                        
                        </ion-segment>
                        <br>
                        <br>
                        <div [ngSwitch]="chatType">

                                        <ion-card *ngSwitchCase="'chatroom'">
                                                        <ion-list>
                                        
                                                                <ion-list-header>
                                                                Rooms
                                                                </ion-list-header>
                                        
                                                                <ion-item *ngFor="let room of rooms" no-padding> 
                                                                    
                                                                    <ion-row no-padding>
                                                                            <ion-col col-8 no-padding>
                                                                                <button detail-none ion-item outline text-wrap icon-only right (click)="enterChat(room,false)">{{room.name}}</button>
                                                                            </ion-col>
                                        
                                                                            <ion-col col-2 no-padding>
                                                                            <button detail-none ion-item outline text-wrap (click)="enterChat(room,false)"><ion-icon name="chatboxes" item-end></ion-icon>
                                                                            </button>
                                                                            </ion-col>
                                        
                                                                            <ion-col col-2 no-padding>
                                                                            <button detail-none ion-item outline text-wrap (click)="presentPopover($event,room.key)">
                                                                                <ion-icon name="more" item-end></ion-icon>
                                                                            </button>
                                                                            </ion-col>
                                                                    </ion-row>
                                                                   
                                                                
                                                                </ion-item>
                                        
                                                                <ion-item *ngIf="rooms?.length === 0">
                                                                    <ion-row no padding justify-content-center>
                                                                            You don't have any active rooms.
                                                                    </ion-row>
                                                                </ion-item>
                                        
                                                               
                                                        
                                                        </ion-list>
                                                    </ion-card>

                                                    <ion-list *ngSwitchCase="'direct'" no-lines>
                                                                <ion-item id="friendList" *ngFor="let friend of friends">
                                                          
                                                          
                                                                  <ion-row>
                                                                    <ion-col col-3>
                                                                    <div class="avatar-container">
                                                                      <ion-avatar item-start>
                                                                        <img *ngIf="friend.friend.coverPhoto !== ''" src="{{friend.friend.coverPhoto}}" alt="photo">
                                                                        <ion-text-avatar *ngIf="friend.friend.coverPhoto == ''">{{friend.initialLetter}}</ion-text-avatar>
                                                                        <span *ngIf="friend.online" class="dot"></span>
                                                                        <span *ngIf="!friend.online" class="offDot"></span>
                                                                      </ion-avatar>
                                                                    </div>
                                                                  </ion-col>
                                                          
                                                          
                                                                    <ion-col col-5>
                                                                            <h2>{{friend.friend.name}}</h2>
                                                                            <p>{{friend.friend.username}}</p>
                                                                            <h3>{{friend.friend.planName}}</h3>
                                                                    </ion-col>
                                                          
                                                                    <ion-col col-4 align-self-center>
                                                                        <ion-row *ngIf="friend.unread > 0" justify-content-center>
                                                                                <ion-badge text-wrap item-end>{{friend.unread}}</ion-badge>
                                                                        </ion-row>
                                                                      <ion-row justify-content-end>
                                                                        <button ion-button (click)="showPopover($event,friend.key,friend.friend)" id="moreButton" icon-only outline>
                                                                          <ion-icon name="more"></ion-icon>
                                                                        </button>
                                                                      </ion-row>
                                                                    </ion-col>
                                                                  </ion-row>

                                                                </ion-item>
                                                              </ion-list>

                                                    <!-- <ion-card *ngSwitchCase="'direct'">
                                                                <ion-list>
                                                
                                                                        <ion-list-header>
                                                                        Chats
                                                                        </ion-list-header>
                                                
                                                                        <ion-item no-padding *ngFor="let chat of directChats">
                                                
                                                
                                                                            <ion-row align-items-center>
                                                                                <ion-col col-9>
                                                                                        <button detail-none ion-item outline text-wrap icon-only right (click)="enterChat(chat,true)">{{chat.username}}</button>
                                                                                </ion-col>
                                                                                <ion-col col-3>
                                                                                        <button color="primary" (click)="enterChat(chat,true)" ion-button clear icon-only>
                                                                                                <ion-icon name="chatboxes"></ion-icon>
                                                                                                <ion-badge *ngIf="chat.unread > 0">{{chat.unread}}</ion-badge>
                                                                                        </button>  
                                                                                </ion-col>
                                                                            </ion-row>
                                                                
                                                                        </ion-item>
                                                
                                                                        <ion-item *ngIf="directChats.length === 0">
                                                                            <ion-row no padding justify-content-center>
                                                                                    You don't have any active chats.
                                                                            </ion-row>
                                                                        </ion-item>
                                                
                                                
                                                                        
                                                                        
                                                                
                                                                </ion-list>
                                                            </ion-card> -->

                        </div>
           
            </div>
            
    </div>

</ion-content>

