<!--
  Generated template for the ConfirmTradePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Confirm Trade</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row justify-content-center>

  
  <div class="list-container">

  

  <!-- <ion-card>


    <ion-grid>
      
    <ion-row justify-content-center>
        <ion-card-header>Trade Details</ion-card-header>
    </ion-row>
      
              <ion-row justify-content-center no-padding>

                

                      <ion-col *ngFor="let game of games">

                        <div *ngIf="game.type == 'interested'">
                            <img src="https://{{game.game.coverPhoto}}" alt="">
                            <div text-wrap> {{game.game.title}} </div>
                            <p text-wrap>{{game.game.platform}}</p>
                        </div>
                         
                      </ion-col>

                      <ion-col align-items-center>
                        <ion-icon id="swap" name="swap"></ion-icon>
                      </ion-col>

                      <ion-col *ngFor="let game of games">

                          <div *ngIf="game.type == 'offering'">
                              <img src="https://{{game.game.coverPhoto}}" alt="">
                              <div text-wrap> {{game.game.title}} </div>
                              <p text-wrap>{{game.game.platform}}</p>
                          </div>
                       
                      </ion-col>

                     
            
                    
              </ion-row> 


            <ion-row>
                <button ion-button block (click)="confirmTrade()">CONFIRM</button>
            </ion-row>

    </ion-grid>
    
    
   
  </ion-card> -->




  <ion-list>
    <ion-row class="title" justify-content-center>
        <h2>Items you get</h2>
    </ion-row>
    <ion-item *ngFor="let game of receivingGames">
      <ion-row>

     
      <ion-col col-6>
        <img src="https://{{game.coverPhoto}}" alt="cover">
      </ion-col>

      <ion-col col-6>
          <div text-wrap> {{game.title}} </div>
          <p text-wrap>{{game.platform}}</p>
          <p text-wrap>{{game.genre}}</p>
          <p text-wrap>{{game.releaseDate}}</p>
          <p style="font-weight:bold;">Receiving: <span>{{game.pickedGames}} units</span></p>
      </ion-col>

    </ion-row>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-row class="title" justify-content-center>
        <h2>Items you give</h2>
    </ion-row>
    <ion-item *ngFor="let game of givingGames">
      <ion-row>
        <ion-col col-6>
            <img src="https://{{game.coverPhoto}}" alt="cover">
        </ion-col>

        <ion-col col-6>
            <div text-wrap> {{game.title}} </div>
            <p text-wrap>{{game.platform}}</p>
            <p text-wrap>{{game.genre}}</p>
            <p text-wrap>{{game.releaseDate}}</p>
            <p style="font-weight:bold;">Giving: <span>{{game.pickedGames}} units</span></p>
        </ion-col>
      </ion-row>
      </ion-item>
  </ion-list>

  


  </div>

</ion-row>

<ion-fab bottom right #fab>
    <button ion-fab (click)="confirmTrade()"><ion-icon name="checkmark-circle-outline"></ion-icon></button>
</ion-fab>

</ion-content>

<!-- <ion-footer>
  <ion-row justify-content-center>
      <button ion-button block (click)="confirmTrade()">CONFIRM</button>
  </ion-row>
</ion-footer> -->
