<ion-header [hidden]="!comingFromSearch">

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <div *ngIf="loading" class="horizontal div1">
    <div class="vertical">
        <ion-spinner name="crescent"></ion-spinner>
    </div>
  </div>


  <div *ngIf="!loading">

    <ion-card class="profile-top">
      <ion-row justify-content-center>
        <ion-col>
          <div class="profile-photo">
            <ion-row justify-content-center>
                  <h1>{{user.username}}</h1>            
            </ion-row>
            <img src="{{user.coverPhoto}}" alt="asda">
          </div>
          <button *ngIf="!comingFromSearch" ion-button (click)="changeProfile()" block clear>Change profile picture</button>
          <div *ngIf="remainingDays > 0" class="trial-text">
            <p>{{remainingDays}} days remaining</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-list class="profile-detail">

      <ion-row>
        <ion-col no-padding>
          <ion-item icon-right>

            <ion-row no-padding>

            <ion-col text-wrap>
              <h4>Mailing Address</h4>
              <p>{{user.address?.street}} {{user.address?.city}} {{user.address?.state}} {{user.address?.zipCode}} USA</p>
            </ion-col>
            
            <ion-col>
              <ion-row *ngIf="!comingFromSearch" justify-content-end>
                <button ion-button clear (click)="editAddress()"><ion-icon class="editIcon" name="create" ></ion-icon></button>
              </ion-row>
            </ion-col>

          </ion-row>
          </ion-item>
        </ion-col>
      </ion-row>
      
      <ion-item icon-left>
        <h4><ion-icon name="mail"></ion-icon>Email Address</h4>
        <p>{{user.email}}</p>
      </ion-item>

      <ion-item icon-left>
          <ion-row no-padding>

              <ion-col>
                <h4><ion-icon name="call"></ion-icon>Phone</h4>
                <p>{{user?.phoneNumber}}</p>
              </ion-col>
              
              <ion-col>
                <ion-row *ngIf="!comingFromSearch" justify-content-end>            
                  <button ion-button clear (click)="editPhoneNumber()"><ion-icon class="editIcon" name="create" ></ion-icon></button>
                </ion-row>
              </ion-col>
    
            </ion-row>
      </ion-item>

    </ion-list>

    <ion-row justify-content-center>
      <button ion-button outline icon-left *ngIf="!comingFromSearch" (click)="addVideogame()"><ion-icon name="add"></ion-icon>ADD GAMES</button>
      <button ion-button outline icon-left (click)="openGameList()"><ion-icon name="game-controller-b"></ion-icon>VIEW GAMES</button>
      <button *ngIf="comingFromSearch && !isFriend" ion-button outline icon-left (click)="addFriend(user)"><ion-icon name="add"></ion-icon>ADD FRIEND</button>
      <button *ngIf="comingFromSearch && isFriend" ion-button outline icon-left (click)="removeFriend(user)"><ion-icon name="remove-circle"></ion-icon>remove friend</button>

    </ion-row>
  </div>

</ion-content>