page-game-information {
    .toolbar-background {
        background-color:color($colors,primary);
      }

      .content{

        .swiper-pagination-bullet-active {
            background:color($colors,primary) !important;
            opacity: 1;
        }

        .swiper-pagination-bullet{
            background:#007aff;
            opacity: 1;
        }
        background-color:#002147;

        ion-slide{
            img{
                max-width:520px;
            }
            iframe{
                max-width:520px;
            }
        }

        .add-game-btn{
            padding:10px;
            ion-icon{
                padding-left:7px;
            }
        }

        .swiper-pagination{
            top:0px !important;
            // margin-bottom:10px !important;
            bottom:inherit;
        }

        .swiper-container{
            padding-top:25px !important;
        }

        .game-text{
            color:white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }

        .cover-image{
            color:white;
            background:#002c5e;
            height:280px;
            border-bottom:1px solid color($colors,primary);
            img{
                // height:200px;
                // margin-right:15px;
                // margin-top:15px
            }
        }
        .game-summary{
            padding:10px;
            color:white;

            .read-more{
                color:cyan;
                cursor: pointer;
            }
        }
      }
}
