<!--
  Generated template for the GameDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Game Details</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>
  <div *ngIf="game" id="gameCard">

    <div class="profile-top">
        <ion-row justify-content-center>
            <h1>{{game.name}}</h1>
          </ion-row>
          <ion-row justify-content-center>
                <img src="https://{{game.cover.url}}" alt="">
          </ion-row>
    </div>

    <ion-list>
      <ion-item no-lines>
        <ion-row justify-content-start>
          PLATFORMS
        </ion-row>
      </ion-item>
      <ion-item *ngFor="let platform of countArray" no-lines>
        {{platform.name}}
        <button ion-button item-end icon-right (click)="findPartners()">List Partners<ion-icon name="people"></ion-icon></button>
      </ion-item>
    </ion-list>
        
        


  </div>
</ion-content>
