page-game-detail {
    .toolbar-background {
        background-color:color($colors,primary);
      }
    .content{
      h1{
          color:white;
          padding:15px;
      }
      .item{
          background:transparent;
          color:white;
          button{
              font-size:15px;
              
          }
      }

      .profile-top {
        width: 100%;
        margin: 0;
        background-color:#002c5e !important;
        border-bottom:3px solid color($colors,primary);
        img{
            height:180px;
            padding-bottom:10px;
        }
        
    }


      img{
          border-radius:3px;
      }
      background-color:#002147;
    }
}
