page-home {
    .content{
        background:url('../assets/imgs/home.jpg') no-repeat center center fixed; 
        background-size:cover;
       
        // background: #000000;  /* fallback for old browsers */
        // background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
        // background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        .main-content{

          
          .item#gameCard{
            opacity:1 !important;
          }
          .item{
            .text-input::-moz-placeholder {
              color: color($colors,dark);
            }
            
            .text-input:-ms-input-placeholder {
              color: color($colors,dark);
            }
            
            .text-input::-webkit-input-placeholder {
              color: color($colors,dark);
            }
            padding:7px;
            margin-bottom:10px;
            background:color($colors,primary);
            border-radius:4px;
            opacity:0.7;
            .button{
              padding-left:15px;
              padding-right:15px;
              ion-icon{
                color:black;
                font-weight:bold;
                font-size: 25px;
              }
            }
          }
          height:100%;
          #tradeCount{
            font-size: 20px;
            color:white;
          }
          ion-list-header{
            border-radius:4px;
            opacity:0.7;
            h1{
              .live-trades{
                border-bottom:4px solid black;
              }
              text-align:center;
              color:black;
              font-size: 25px;
              font-weight:bold;
              letter-spacing:0.06rem;
            }
          }
          .searchbar-input{
            font-size:14px;
          }
        }

    }
    .toolbar-background {
      background-color:color($colors,primary);
    }

    .toolbar{
      ion-title{
        cursor: pointer;
      }

      .button{
        color:color($colors,dark);
        background:color($colors,primary);
        box-shadow: none;
        position: relative;
        // top:1px;
        // right: 1px;
        padding:0px !important;
        overflow: visible!important;
        ion-badge {
          background-color: red;
          position: absolute;
          top: 0px;
          right: 0px;
          border-radius: 100%;
        }
      }

      .button:hover{
        background:transparent;
      }
    }
    .bar-button-default-ios{
      color:#002147;
    }

    .cover{
      display:block;
      max-width:520px;
      height:auto;
    }

    ion-searchbar{
      max-width:520px;
    }

    .card{

      padding:0px;
      margin-bottom:5px;
      margin-top:0px;
      margin-left:0px;
      margin-right:0px;
      .game-title{
        font-weight:bold;
        text-align:center;
      }

      // background:color($colors,primary);
      background-color:rgba(255, 164, 0, 0.8);
      // opacity:0.7 !important;
      img{
        cursor: pointer;
        height:120px;
        width:auto;
      }

      #swapIcon{
        font-size:50px;
        animation: pulsar 1.6s infinite;
        -moz-animation: pulsar 1.6s infinite;
        -o-animation: pulsar 1.6s infinite;
        -webkit-animation: pulsar 1.6s infinite;
      }

        .swiper-pagination{
          bottom:0px !important;
          }

        .swiper-slide{
          
            height:195px;
            img{
              height:100px !important;
            }
            transition: transform .6s ease-in-out;
        }

        // .swiper-slide-active{
        //     transform:scale(1.2);
        // }

      @keyframes pulsar {
        0% {
          @include transform(scale(.9));
        }
        70% {
          @include transform(scale(1));
          box-shadow: 0 0 0 150px rgba(#0c1824, 0);
        }
          100% {
          @include transform(scale(.9));
          box-shadow: 0 0 0 0 rgba(#0e1d2c, 0);
        }
      }
      

      ion-badge{
        background:red !important;
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
      }
    }

    .fab{
      animation: pulse 1.5s infinite;
      -moz-animation: pulse 1.5s infinite;
      -o-animation: pulse 1.5s infinite;
      -webkit-animation: pulse 1.5s infinite;
      bottom:60px;
      color:rgba(27, 27, 27, 0.952);
      width:80px !important;
      height:80px !important;
      ion-icon{
        font-size:35px;
      }
    }

    @keyframes pulse {
      0% {
        @include transform(scale(.9));
      }
      70% {
        @include transform(scale(1));
        box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
      }
        100% {
        @include transform(scale(.9));
        box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
      }
    }
    

    #settingsBtn{
      border:0;
    }

    div.horizontal {
      display: flex;
      justify-content: center;
      height:100%;
    }
  
    div.vertical {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color:color($colors,primary);
      text-align: center;
    }

    ion-spinner{
        width:68px;
        height:68px;
        margin-top:50%;
        * {
          stroke: #FFA400 !important;
        }
    
        &.spinner-circles circle,
        &.spinner-bubbles circle,
        &.spinner-dots circle {
          fill: #FFA400 !important;
        }
      }

      .button{
        border-color:#FFA400;
        color:#FFA400;
      }

      @media (max-width: 320px) {

        .card{
          img{
            height:100px;
            width:auto;
          }
          ion-badge {
            position: absolute;
            top: calc(15% - 10px);
            right: calc(15% - 5px);
            border-radius: 50%;
          }
          .game-title{
            font-size:11px;
            text-align:center
          }
  
          .game-platform{
            font-size:11px;
            text-align:center;
          }
        }
       
      }
      
      @media (min-width: 321px) and (max-width:374px) {

        .card{
          img{
            height:100px !important;
            width:auto;
          }
          ion-badge{
            position: absolute;
            top: calc(11% - 5px); 
            right: calc(12% - 15px);
            border-radius: 50%;
        }

        .game-title{
          font-size:13px;
          text-align:center;
        }

        .game-platform{
          font-size:13px;
          text-align:center;
        }


        }

      
    }

    @media (min-width: 375px) and (max-width:424px) {

      .card{
        img{
          height:100px !important;
          width:auto;
        }
        ion-badge{
          position: absolute;
          top: calc(11% - 5px); 
          right: calc(14% - 15px);
          border-radius: 50%;
      }

      .game-title{
        font-size:14px;
        text-align:center;
      }

      .game-platform{
        text-align:center;
        font-size:14px;
      }


      }

    
  }

  @media (min-width: 425px) and (max-width:440px) {

    .card{
      img{
        height:100px !important;
        width:auto;
      }
      ion-badge{
        position: absolute;
        top: calc(5% - 5px); 
        right: calc(25% - 15px);
        border-radius: 50%;
    }

    .game-title{
      font-size:14px;
      text-align:center;
    }

    .game-platform{
      font-size:14px;
      text-align:center;
    }


    }

    

  
  }

  @media (min-width: 441px) and (max-width:524px) {

    .card{
      img{
        height:100px !important;
        width:auto;
      }
      ion-badge{
        position: absolute;
        top: calc(8% - 5px); 
        right: calc(28% - 15px);
        border-radius: 50%;
    }

    .game-title{
      font-size:14px;
      text-align:center;
    }

    .game-platform{
      font-size:14px;
      text-align:center;
    }


    }
  }

  @media (min-width: 525px) and (max-width:650px) {

    .card{
      img{
        height:100px !important;
        width:auto;
      }
      ion-badge{
        position: absolute;
        top: calc(8% - 5px); 
        right: calc(28% - 15px);
        border-radius: 50%;
    }

    .game-title{
      font-size:15px;
      text-align:center
    }

    .game-platform{
      font-size:15px;
      text-align:center;
    }


    }
  }

  @media (min-width: 651px) and (max-width:800px) {

    .card{
      img{
        height:100px !important;
        width:auto;
      }
      ion-badge{
        position: absolute;
        top: calc(8% - 5px); 
        right: calc(35% - 15px);
        border-radius: 50%;
    }

    .game-title{
      font-size:14px;
      text-align: center;
    }

    .game-platform{
      font-size:14px;
      text-align: center;
    }


    }
  }

  @media (min-width: 801px) {

    .card{
      img{
        height:100px !important;
        width:auto;
      }
      ion-badge{
        position: absolute;
        top: calc(8% - 5px); 
        right: calc(38% - 15px);
        border-radius: 50%;
    }

    .game-title{
      font-size:15px;
      text-align:center;
    }

    .game-platform{
      font-size:15px;
      text-align:center;
    }


    }
  }

    
      

     

    
}
