<ion-header>
  <ion-navbar>

        <!-- <button ion-button icon-only menuToggle left>
                <ion-icon name="menu"></ion-icon>
        </button> -->

        <!-- <ion-row justify-content-center>
                <h4>{{username}}</h4>
        </ion-row> -->

        <!-- <ion-buttons end>
                <button *ngIf="authState == false && authState !== undefined" ion-button outline right (click)="goToLogin()">
                        Sign In
                    </button>

                    <div *ngIf="authState && authState !== undefined">
                        <button ion-button icon-only (click)="logout()" right>
                            <ion-icon name="exit"></ion-icon>
                        </button>
                    </div>
                   
        </ion-buttons> -->

        <ion-toolbar>

                <ion-buttons left>
                        
                                <button *ngIf="authState" detail-none ion-button menuToggle left>
                                        <ion-icon name="menu"></ion-icon>
                                </button>
                       
                </ion-buttons>
               

                

                

                <ion-title text-center *ngIf="authState" (click)="goToProfile()">{{username}}</ion-title>
                
                <ion-buttons right>

                <ion-row align-items-center *ngIf="authState && !loading">

                <ion-col no-padding>
                        <button *ngIf="authState" color="dark" ion-button icon-only>
                                <ion-icon name="notifications"></ion-icon>
                                <ion-badge>{{unreadNotifications}}</ion-badge>
                        </button>                    
                </ion-col>
                
                <ion-col no-padding>
                        <button *ngIf="authState && !loading" detail-none icon-right ion-button (click)="showPopover($event)">
                                <ion-icon name="more"></ion-icon>
                        </button>
                </ion-col>

                </ion-row>
                  

                  <button *ngIf="!authState && !loading" ion-button icon-right outline (click)="goToLogin()">
                        Sign in 
                        <ion-icon name="log-in"></ion-icon>
                        </button>
                 

                </ion-buttons>
        </ion-toolbar>
        
  </ion-navbar>
</ion-header>

<ion-content padding>
  

  

    <div *ngIf="loading" class="horizontal div1">
            <div class="vertical">
                <ion-row justify-content-center>
                                <ion-spinner name="crescent"></ion-spinner>
                </ion-row>
                <ion-row>
                        <h4>Loading. Please wait...</h4>
                </ion-row>
                <!-- Loading. Please wait... -->
            </div>
    </div>

  <div *ngIf="!loading" class="main-content">
     
        
        <ion-grid fixed>
            <ion-row class="searchbar" justify-content-center align-items-center>
                <ion-searchbar placeholder="Search Game"></ion-searchbar>
                <ion-icon name="settings"></ion-icon>
            </ion-row>

            <!-- <ion-row class="logo" justify-content-center>
                                <img src="assets/imgs/logoTU.png" alt="logo" class="cover">
            </ion-row> -->
        </ion-grid>
  </div>



</ion-content>
