page-home {
    .content{
        background:url('../assets/imgs/haloBack.jpg') center center/cover;
    }
    .toolbar-background {
      background-color:color($colors,primary);
    }
    .bar-button-default-ios{
      color:#002147;
    }

    div.horizontal {
      display: flex;
      justify-content: center;
      height:100%;
    }
  
    div.vertical {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    ion-spinner{
        width:68px;
        height:68px;
        margin-top:50%;
        * {
          stroke: #FFA400 !important;
        }
    
        &.spinner-circles circle,
        &.spinner-bubbles circle,
        &.spinner-dots circle {
          fill: #FFA400 !important;
        }
      }

      .button{
        border-color:#FFA400;
        color:#FFA400;
      }

      

     

    
}
