<ion-header>
  <ion-navbar>

        <ion-toolbar>

                <ion-buttons left>
                        
                                <button *ngIf="authState" detail-none ion-button menuToggle left>
                                        <ion-icon name="menu"></ion-icon>
                                </button>
                       
                </ion-buttons>

                

                

                <ion-title text-center *ngIf="authState" (click)="goToProfile()">{{username}}</ion-title>
                
                <ion-buttons right>

                <ion-row align-items-center *ngIf="authState && !loading">

                <ion-col no-padding>
                        <button *ngIf="authState" color="dark" (click)="goToNotifications()" ion-button icon-only>
                                <ion-icon name="notifications"></ion-icon>
                                <ion-badge *ngIf="unreadNotifications > 0" class="animated swing">{{unreadNotifications}}</ion-badge>
                        </button>                    
                </ion-col>
                
                <ion-col no-padding>
                        <button *ngIf="authState && !loading" detail-none icon-right ion-button (click)="showPopover($event)">
                                <ion-icon name="more"></ion-icon>
                        </button>
                </ion-col>

                </ion-row>
                  

                  <button *ngIf="!authState && !loading" ion-button icon-right outline (click)="goToLogin()">
                        Sign in 
                        <ion-icon name="log-in"></ion-icon>
                        </button>
                 

                </ion-buttons>
        </ion-toolbar>
        
  </ion-navbar>
</ion-header>

<ion-content padding>
  

  

    <div *ngIf="loading" class="horizontal div1">
            <div class="vertical">
                <ion-row justify-content-center>
                                <ion-spinner name="crescent"></ion-spinner>
                </ion-row>
                <ion-row>
                        <h4>Loading. Please wait...</h4>
                </ion-row>
                <!-- Loading. Please wait... -->
            </div>
    </div>

  <div *ngIf="!loading" class="main-content">
          <!-- <ion-row no-padding justify-content-center>
                  <h1 id="liveTrades">{{trades_count}} live trades</h1>
          </ion-row> -->
          <ion-row justify-content-start>
                  <h1 id="tradeCount">{{trades_count}} trades</h1>
          </ion-row>

          
          <ion-row no-padding justify-content-center>
                          <ion-list-header no-lines>
                                <h1> <span class="live-trades">Live Trades</span></h1>
                          </ion-list-header>
          </ion-row>
          
                        <ion-item> 
                                  
                        <ion-input
                        class="text-input"
                        [(ngModel)]="query"
                        [placeholder]="searchPlaceholder"
                        (ionChange)="doSearch($event)"
                        (keyup.enter)="searchGame($event)"
                        color="dark"
                        showCancelButton
                        >
                        </ion-input>
                                         
                           <button ion-button clear item-right (click)="searchGame($event)">
                                <ion-icon name="search" item-end></ion-icon>
                           </button>
                                         
                            <button ion-button clear item-right (click)="goToFilters()">
                                <ion-icon name="settings" item-end></ion-icon>
                            </button>
                                      
                        </ion-item>

              
                  
                <ion-list *ngIf="!showGamecard" no-lines> 
                  <ion-card class="animated fadeInLeft" *ngFor="let trade of trades; let i = index">
             
                        <div *ngIf="trade?.trade?.items?.length === 2; else elseBlock">
                                                <ion-stepper class="stepper" mode="horizontal">
                                                                <ion-step 
                                                                      icon="timer"
                                                                >
                                                                </ion-step>
                                                                <ion-step 
                                                                      icon="checkmark"
                                                                      >
                                                                </ion-step>
                                                                <ion-step 
                                                                      
                                                                      icon="people"
                                                                      >
                                                                </ion-step>
                                                                <ion-step 
                                                                      icon="paper-plane"
                                                                      >
                                                                </ion-step>
                                                                <ion-step 
                                                                      icon="happy"    
                                                                >
                                                                </ion-step>
                                                              </ion-stepper> 
                                <ion-row justify-content-end>
                                        <div class="timer-text">
                                                <h1 *ngIf="!timerArray[i]?.hasFinished">{{timerArray[i]?.displayTime}}</h1> 
                                                <button class="offer-button" (click)="offerBetterTrade(trade)" *ngIf="trade?.showOfferButton && !timerArray[i]?.hasFinished" color="dark" ion-button outline clear>offer better trade</button> 
                                        </div>
                                </ion-row>
                                <ion-row justify-content-center align-items-center>
                                        <ion-col col-5 *ngFor="let game of trade.trade.items | slice:0:1">
                                                <div *ngIf="game.itemType === 'game'">
                                                        <ion-row justify-content-center>
                                                                <img (click)="viewGame(game.key)" class="game-photo" src="https://{{game.game.coverPhoto}}" alt="cover">
                                                                <ion-badge>{{game.game?.pickedGames}}</ion-badge>
                                                        </ion-row>
                                                        <ion-row justify-content-center>
                                                                <p text-wrap class="game-title">{{game.game?.title | titlecase}}</p>
                                                        </ion-row>
                                                        <ion-row justify-content-center>
                                                                <p text-wrap class="game-platform">{{game.game?.platform | titlecase}}</p>
                                                        </ion-row>
                                                </div>

                                                <div *ngIf="game.itemType === 'console'">
                                                                <ion-row justify-content-center>
                                                                        <img  class="game-photo" src="{{game.console.coverImage}}" alt="cover">
                                                                        <ion-badge>{{game.console?.pickedConsoles}}</ion-badge>
                                                                </ion-row>
                                                                <ion-row justify-content-center>
                                                                        <p text-wrap class="game-title">{{game.console?.name | titlecase}}</p>
                                                                </ion-row>
        
                                                </div>

                                                <div *ngIf="game.itemType === 'accessorie'">
                                                                <ion-row justify-content-center>
                                                                        <img  class="game-photo" src="{{game.accessorie.coverImage}}" alt="cover">
                                                                        <ion-badge>{{game.accessorie?.pickedAccessories}}</ion-badge>
                                                                </ion-row>
                                                                <ion-row justify-content-center>
                                                                        <p text-wrap class="game-title">{{game.accessorie?.name | titlecase}}</p>
                                                                </ion-row>
        
                                                </div>

                                        </ion-col>

                                        <ion-col col-2>
                                                <ion-row justify-content-center>
                                                        <ion-icon name="swap" id="swapIcon"></ion-icon>
                                                </ion-row>
                                        </ion-col>

                                        <ion-col col-5 *ngFor="let game of trade.trade.items | slice:1">
                                                        <div *ngIf="game.itemType === 'game'">
                                                                        <ion-row justify-content-center>
                                                                                <img (click)="viewGame(game.key)" class="game-photo" src="https://{{game.game.coverPhoto}}" alt="cover">
                                                                                <ion-badge>{{game.game?.pickedGames}}</ion-badge>
                                                                        </ion-row>
                                                                        <ion-row justify-content-center>
                                                                                <p text-wrap class="game-title">{{game.game?.title | titlecase}}</p>
                                                                        </ion-row>
                                                                        <ion-row justify-content-center>
                                                                                <p text-wrap class="game-platform">{{game.game?.platform | titlecase}}</p>
                                                                        </ion-row>
                                                                </div>
                
                                                                <div *ngIf="game.itemType === 'console'">
                                                                                <ion-row justify-content-center>
                                                                                        <img class="game-photo" src="{{game.console.coverImage}}" alt="cover">
                                                                                        <ion-badge>{{game.console?.pickedConsoles}}</ion-badge>
                                                                                </ion-row>
                                                                                <ion-row justify-content-center>
                                                                                        <p text-wrap class="game-title">{{game.console?.name | titlecase}}</p>
                                                                                </ion-row>
                        
                                                                </div>
                
                                                                <div *ngIf="game.itemType === 'accessorie'">
                                                                                <ion-row justify-content-center>
                                                                                        <img class="game-photo" src="{{game.accessorie.coverImage}}" alt="cover">
                                                                                        <ion-badge>{{game.accessorie?.pickedAccessories}}</ion-badge>
                                                                                </ion-row>
                                                                                <ion-row justify-content-center>
                                                                                        <p text-wrap class="game-title">{{game.accessorie?.name | titlecase}}</p>
                                                                                </ion-row>
                        
                                                                </div>
                                        </ion-col>
                                </ion-row>
                        </div>

                        <ng-template #elseBlock>
                                        <ion-row justify-content-end>
                                                <div class="timer-text">
                                                                <h1 *ngIf="!timerArray[i]?.hasFinished">{{timerArray[i]?.displayTime}}</h1> 
                                                                <button class="offer-button" (click)="offerBetterTrade(trade)" *ngIf="trade?.showOfferButton && !timerArray[i]?.hasFinished" color="dark" ion-button outline clear>offer better trade</button>
                                                </div>
                                        </ion-row>
                                                                
                                                                <ion-stepper class="stepper" mode="horizontal">
                                                                        <ion-step 
                                                                              icon="timer"
                                                                        >
                                                                        </ion-step>
                                                                        <ion-step 
                                                                              icon="checkmark"
                                                                              >
                                                                        </ion-step>
                                                                        <ion-step 
                                                                              
                                                                              icon="people"
                                                                              >
                                                                        </ion-step>
                                                                        <ion-step 
                                                                              icon="paper-plane"
                                                                              >
                                                                        </ion-step>
                                                                        <ion-step 
                                                                              icon="happy"
                                                                        >
                                                                        </ion-step>
                                                                      </ion-stepper> 
                                <ion-row justify-content-center>
                                        <ion-col col-6>
                                        <ion-slides pager>                                        

                                                <ion-slide *ngFor="let game of trade?.trade?.items | gameType:{type:'interested'}">
                                                <div *ngIf="game.itemType === 'game'">
                                                        <ion-row justify-content-center>
                                                                        <img (click)="viewGame(game.key)" class="game-photo" src="https://{{game.game?.coverPhoto}}" alt="">
                                                                        <ion-badge>{{game.game?.pickedGames}}</ion-badge>
                                                        </ion-row>
                                                        <ion-row justify-content-center>
                                                                <p class="game-title" text-wrap>{{game.game?.title | titlecase}}</p>
                                                        </ion-row>
                                                        <ion-row justify-content-center>
                                                                <p text-wrap class="game-platform">{{game.game?.platform | titlecase}}</p>
                                                        </ion-row>
                                                </div>


                                                <div *ngIf="game.itemType === 'console'">
                                                                <ion-row justify-content-center>
                                                                                <img  class="game-photo" src="{{game.console?.coverImage}}" alt="">
                                                                                <ion-badge>{{game.console?.pickedConsoles}}</ion-badge>
                                                                </ion-row>
                                                                <ion-row justify-content-center>
                                                                        <p class="game-title" text-wrap>{{game.console?.name | titlecase}}</p>
                                                                </ion-row>
                                                               
                                                </div>

                                                <div *ngIf="game.itemType === 'accessorie'">
                                                                <ion-row justify-content-center>
                                                                                <img  class="game-photo" src="{{game.accessorie?.coverImage}}" alt="">
                                                                                <ion-badge>{{game.accessorie?.pickedAccessories}}</ion-badge>
                                                                </ion-row>
                                                                <ion-row justify-content-center>
                                                                        <p class="game-title" text-wrap>{{game.accessorie?.name | titlecase}}</p>
                                                                </ion-row>
                                                </div>

                                                </ion-slide>
                                        </ion-slides>
                                        </ion-col>
                                        <ion-col col-6>
                                        <ion-slides pager>
                                                        <ion-slide *ngFor="let game of trade?.trade?.items | gameType:{type:'offering'}">
                                                                        <div *ngIf="game.itemType === 'game'">
                                                                                        <ion-row justify-content-center>
                                                                                                        <img (click)="viewGame(game.key)" class="game-photo" src="https://{{game.game?.coverPhoto}}" alt="">
                                                                                                        <ion-badge>{{game.game?.pickedGames}}</ion-badge>
                                                                                        </ion-row>
                                                                                        <ion-row justify-content-center>
                                                                                                <p class="game-title" text-wrap>{{game.game?.title | titlecase}}</p>
                                                                                        </ion-row>
                                                                                        <ion-row justify-content-center>
                                                                                                <p text-wrap class="game-platform">{{game.game?.platform | titlecase}}</p>
                                                                                        </ion-row>
                                                                                </div>
                                
                                
                                                                                <div *ngIf="game.itemType === 'console'">
                                                                                                <ion-row justify-content-center>
                                                                                                                <img  class="game-photo" src="{{game.console?.coverImage}}" alt="">
                                                                                                                <ion-badge>{{game.console?.pickedConsoles}}</ion-badge>
                                                                                                </ion-row>
                                                                                                <ion-row justify-content-center>
                                                                                                        <p class="game-title" text-wrap>{{game.console?.name | titlecase}}</p>
                                                                                                </ion-row>
                                                                                               
                                                                                </div>
                                
                                                                                <div *ngIf="game.itemType === 'accessorie'">
                                                                                                <ion-row justify-content-center>
                                                                                                                <img  class="game-photo" src="{{game.accessorie?.coverImage}}" alt="">
                                                                                                                <ion-badge>{{game.accessorie?.pickedAccessories}}</ion-badge>
                                                                                                </ion-row>
                                                                                                <ion-row justify-content-center>
                                                                                                        <p class="game-title" text-wrap>{{game.accessorie?.name | titlecase}}</p>
                                                                                                </ion-row>
                                                                                </div>
                                
                                                        </ion-slide>
                                        </ion-slides>
                                        </ion-col>
                                </ion-row>
                        </ng-template>
                           

                </ion-card>
                <ion-infinite-scroll #infiniteScroll (ionInfinite)="loadTrades($event)">
                                <ion-infinite-scroll-content></ion-infinite-scroll-content>
                   </ion-infinite-scroll> 
                </ion-list>
          

        <ion-list *ngIf="showGamecard">
                <ion-item class="animated fadeInLeft" id="gameCard" detail-push (click)="viewGame(game.id)" *ngFor="let game of games" no-lines>
                        <ion-row no-padding>
        
                            <ion-col col-3 no-padding>
                              <img src="https://{{game?.cover?.url}}" alt="">
                            </ion-col>
        
                            <ion-col col-9 padding-left>
                              <div text-wrap> {{game.name}} </div>
                              <div *ngFor="let genre of game.genres; let i = index">
                                  <p *ngIf="i == 0" text-wrap>{{genre.name}}</p>
                              </div>
                              <p text-wrap>{{game.first_release_date}}</p>
                              <p text-wrap>Platforms: {{game.platforms | joinPipe}}</p>
                            </ion-col>
                            
                        </ion-row>
                </ion-item>
        </ion-list>
                     
  </div>



</ion-content>


<!-- <ion-fab *ngIf="!loading" bottom right #fab>
                <button ion-fab (click)="searchPartners()"><ion-icon name="search"></ion-icon></button>
</ion-fab> -->
