page-platform-selection {

    .toolbar-background {
        background-color:color($colors,primary);
      }

    .content{
        background-color:#002147;
    }

    .item.item-divider{
        background:#002249;
        color:white;
    }

    .item{
        background:#002a5a;
        color:white;
    }
}
