page-add-username {
    .content{
        background:linear-gradient(to right,#005C97 ,#363795);
        h1{
            color:white;
        }
        h2{
            color:white;
        }
    }

    .item-md {
        
        background: transparent;
        padding-bottom:16px;
        color:white;
    }
}
