page-add-username {
    .content{
        background-color:#002147;
        h1{
            color:white;
        }
        h2{
            color:white;
        }

        ion-grid{
            height:100% !important;
            .first-row{
                height:10% !important;
            }
            .second-row{
                height:90% !important;
            }
        }

        .error-message{
            color:red;
        }

        .valid-message{
            color:green;
        }
    }


    .item-md {
        
        background: transparent;
        padding-bottom:16px;
        color:white;
    }
}
