<!--
  Generated template for the NotificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Notification</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>

    <div *ngIf="loading" class="horizontal div1">
        <div class="vertical">
            <ion-spinner name="crescent"></ion-spinner>
        </div>
    </div>

  <ion-segment [(ngModel)]="type" (ionChange)="readNotifications(type)">

       <ion-segment-button value="trading">
        Trading
        <ion-badge *ngIf="tradeUnreadNotifications > 0" color="secondary" item-right>{{tradeUnreadNotifications}}</ion-badge>
       </ion-segment-button>

        <ion-segment-button value="games">
          Games
          <ion-badge *ngIf="gameUnreadNotifications > 0" color="secondary" item-right>{{gameUnreadNotifications}}</ion-badge>
        </ion-segment-button>

        <ion-segment-button value="social">
          Social
          <ion-badge *ngIf="socialUnreadNotifications > 0" color="secondary" item-right>{{socialUnreadNotifications}}</ion-badge>
        </ion-segment-button>
      
  </ion-segment>

  <div [ngSwitch]="type">

 

  <ion-list *ngSwitchCase="'social'" no-lines>

      <ion-item *ngIf="!socialNotifications || socialNotifications.length === 0"> 
          <ion-row justify-content-center>
            No social notifications available yet.
          </ion-row>
        </ion-item>
   
    <ion-item-sliding *ngFor="let notification of socialNotifications" #item>

    
        <ion-item (press)="showPopover($event,notification)" (tap)="expand(notification)">
          <ion-avatar item-start>
            <img src="{{notification.notification.data.photo}}" alt="social">
          </ion-avatar>

          
          <h2 text-wrap>{{notification.notification.data.body}}</h2>
          <ion-row justify-content-end>
            <button (click)="showPopover($event,notification)" ion-button outline icon-only id="moreButton">
              <ion-icon name="more"></ion-icon>
            </button>
          </ion-row>
          <p>{{notification.timestamp | timeAgo}}</p>
          
          <!-- <accordion [expandHeight]="notification.expandHeight" [expanded]="notification.expanded">

              <div text-wrap *ngIf="notification.notification.data.type == 'social' || notification.notification.data.type == 'offering' ">
                  <ion-row justify-content-center>
                    <button ion-button outline (click)="viewProfile(notification)">View Profile</button>
                </ion-row>
              </div>
          </accordion> -->

        </ion-item>

        <!-- <ion-item-options icon-start side="right">
          <button ion-button color="danger"(click)="delete(notification)">Delete <ion-icon name="trash"></ion-icon></button>
        </ion-item-options>

        <ion-item-options icon-start side="left">
          <button ion-button color="danger"(click)="delete(notification)">Delete <ion-icon name="trash"></ion-icon></button>
        </ion-item-options> -->
        </ion-item-sliding>
  </ion-list>

  <ion-list *ngSwitchCase="'trading'" no-lines>

    <ion-item *ngIf="!tradeNotifications || tradeNotifications.length === 0"> 
      <ion-row justify-content-center>
        No trade notifications available yet.
      </ion-row>
    </ion-item>

    <ion-item-sliding *ngFor="let notification of tradeNotifications" #item>

        <ion-item (press)="showPopover($event,notification)" (tap)="expand(notification)">
          <ion-avatar item-start>
            <img src="assets/imgs/logoTU.png">
          </ion-avatar>

          
          <h2 text-wrap>{{notification.notification.data.body}}</h2>
          <ion-row justify-content-end>
              <button (click)="showPopover($event,notification)" ion-button outline icon-only id="moreButton">
                <ion-icon name="more"></ion-icon>
              </button>
          </ion-row>
          <p>{{notification.timestamp | timeAgo}}</p> 
          
          <!-- <accordion [expandHeight]="notification.expandHeight" [expanded]="notification.expanded"> -->

              <div text-wrap *ngIf="notification.notification.data.type == 'trade' "> 
                <ion-row justify-content-center> <h3>Status: {{notification.tradeStatus}}</h3></ion-row>


                <div *ngIf="notification.games.length === 2; else elseBlock">
                  <ion-row justify-content-center align-items-center>
                    
                    <ion-col *ngFor="let game of notification.games | slice:0:1; index as i;">
                      <ion-row *ngIf="i == 0" justify-content-center>
                          <img id="coverPhoto" src="https://{{game.game.coverPhoto}}" alt="cover">
                      </ion-row>
                    </ion-col>

                    <ion-col>
                        <ion-row justify-content-center>
                            <ion-icon id="swap" name="swap"></ion-icon>
                        </ion-row>
                    </ion-col>

                      <ion-col *ngFor="let game of notification.games | slice:1; index as i;">
                          <ion-row justify-content-center>
                              <img id="coverPhoto" src="https://{{game.game.coverPhoto}}" alt="cover">
                          </ion-row>
                        </ion-col>


                  </ion-row>

                  <ion-row justify-content-start>
                      <ion-col>
                        <button [disabled]="!notification.buttonCondition || buttonCondition" ion-button block icon-start color="secondary" (click)="acceptTrade(notification)">
                            <ion-icon id="iconButton" name='checkmark'></ion-icon>
                            Accept</button>
                      </ion-col>
                      <ion-col>
                        <button [disabled]="!notification.buttonCondition || buttonCondition" ion-button block icon-start color="danger" (click)="declineTrade(notification)" >
                            <ion-icon id="iconButton" name='close'></ion-icon>
                            Decline</button>
                      </ion-col>
                    </ion-row>
                </div>

                <ng-template #elseBlock>
                    <ion-row justify-content-center>
                        <img src="assets/imgs/logoTU.png" alt="logo" class="game-photo">
                    </ion-row>
                    <ion-row justify-content-center>
                        <button ion-button outline (click)="viewDetails(notification)">view details</button>
                    </ion-row>
                </ng-template>
                  <!-- <ion-row *ngIf="game.type == 'interested'" justify-content-start></ion-row>
                  <ion-row *ngIf="game.type == 'offering'" justify-content-start></ion-row> -->
                
                  
              </div>

  
          <!-- </accordion> -->
        </ion-item>

        <!-- <ion-item-options icon-start side="right">
          <button ion-button color="danger" (click)="delete(notification)">Delete <ion-icon name="trash"></ion-icon></button>
        </ion-item-options>

        <ion-item-options icon-start side="left">
          <button ion-button color="danger"(click)="delete(notification)">Delete <ion-icon name="trash"></ion-icon></button>
        </ion-item-options> -->
        </ion-item-sliding>
  </ion-list>

  <ion-list *ngSwitchCase="'games'" no-lines>

      <ion-item *ngIf="!gameNotifications || gameNotifications.length === 0"> 
          <ion-row justify-content-center>
            No games notifications available yet.
          </ion-row>
        </ion-item>
   
    <ion-item-sliding *ngFor="let notification of gameNotifications" #item>

    
        <ion-item (press)="showPopover($event,notification)" (tap)="expand(notification)">
          <ion-avatar item-start>
            <img src="{{notification.notification.data.photo}}" alt="asd">
          </ion-avatar>

          
          <h2 text-wrap>{{notification.notification.data.body}}</h2>
          <ion-row justify-content-end>
            <button (click)="showPopover($event,notification)" ion-button outline icon-only id="moreButton">
              <ion-icon name="more"></ion-icon>
            </button>
          </ion-row>
          <p>{{notification.timestamp | timeAgo}}</p>
          
          <!-- <accordion [expandHeight]="notification.expandHeight" [expanded]="notification.expanded"> -->


          <!-- </accordion> -->
        </ion-item>

        <!-- <ion-item-options icon-start side="right">
          <button ion-button color="danger"(click)="delete(notification)">Delete <ion-icon name="trash"></ion-icon></button>
        </ion-item-options>

        <ion-item-options icon-start side="left">
          <button ion-button color="danger"(click)="delete(notification)">Delete <ion-icon name="trash"></ion-icon></button>
        </ion-item-options> -->
        </ion-item-sliding>
    </ion-list>

</div>


</ion-content>
