partner-popover {
    .list-container{
        height:100% !important;
    }
    .item{
        background:transparent !important;
    }
}

.popover-content{
    .list{
        height:100% !important;
        margin-bottom:0 !important
    }
}
