trade-card {
    // .button{
    //     height:10vh;
    //     font-size:13px;
    // }

    .btnPrev{
        // margin-right:15vw;
        padding:10px;
     }
     
     .btnNext{
         padding:10px;
     }

    .price{
        padding:15px;
        font-size:3vh;
        color:white;
    }

    .message{
        font-size:2.7vh;
        font-weight:bold;
        margin-top:10px;
        padding-bottom:10px;
    }

    .card{
        -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        background:#025cc2;

        .game-photo{
            height:120px;
            width:auto;
        }
        ion-card-header{
            font-weight:bold;
            font-size:3.5vh;
        }

        
    }

    .card:before, .card:after{
        -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
        -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
        box-shadow:0 0 20px rgba(0,0,0,0.8);
    }

    .card:after{
        -webkit-transform:skew(8deg) rotate(3deg);
        -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
    }

    .card > * {
        color:white;
    }

    @media (min-width: 576px) {
        .container{
            // width: 600px !important;
            max-width: 100%;
        }

        .game-photo{
            width:auto !important;
            height:100px !important;
        }
    }

  
}
