<!-- Generated template for the TradeCardComponent component -->
<div>
    <ion-card class="container">

      
    
      <ion-card-header>
        <ion-row no-padding justify-content-center>
            <span class="message" *ngIf="!expired && !accepted" text-wrap>Offer by: {{proposerUsername}}</span>
            <span class="message" *ngIf="expired" text-wrap>Trade Expired</span>
            <span class="message" *ngIf="accepted" text-wrap>Trade has been accepted!</span>

        </ion-row>
        <ion-row no-padding justify-content-end> 
            <h1 class="price" *ngIf="!timer?.hasFinished">{{timer?.displayTime}}</h1>
        </ion-row>
      </ion-card-header>
    
      <ion-card-content>

        <div *ngIf="games.length === 2; else elseBlock">
          <ion-row>
            <ion-col *ngFor="let game of games; let i=index; trackBy: trackById" >

              <ion-row justify-content-center>
                    <img src="https://{{game.game?.coverPhoto}}" alt="asd" class="game-photo">
              </ion-row>
              <ion-row justify-content-center>
                <span>{{game.game?.platform}}</span>
              </ion-row>

            </ion-col>
          </ion-row>

          <ion-row no-padding justify-content-center *ngIf="showButtons && !expired">
        
          
                <ion-col>
                    <button ion-button clear small icon-start (click)="acceptTrade()">
                        <ion-icon name='checkmark'></ion-icon>
                        Accept Trade
                      </button>
                </ion-col>
                      
            
                  <ion-col>
                      <button ion-button clear small icon-start (click)="declineTrade()">
                          <ion-icon name='close'></ion-icon>
                          Decline Trade
                        </button>
                  </ion-col>
                    
            
            </ion-row>

            <ion-row no-padding justify-content-center *ngIf="isProposer
             && (!expired && !accepted)">
                <button ion-button clear small icon-start (click)="declineTrade()">
                    <ion-icon name='close'></ion-icon>
                    Cancel Trade
                  </button>
            </ion-row>
        </div>

        <ng-template #elseBlock>

                <ion-row *ngIf="isNotTradeInvolved;else offeringBlock" justify-content-start>
                    {{proposerUsername}} is Offering
                </ion-row>

                <ng-template #offeringBlock>
                    <ion-row justify-content-start>
                        Offering
                    </ion-row>
                </ng-template>


                <!-- <ion-row justify-content-center align-items-center> -->

                    <!-- <ion-col *ngFor="let game of offeringGames">
                        <img class="game-photo" src="https://{{game.game.coverPhoto}}" alt="">
                    </ion-col> -->

                    <!-- <ion-col col-2 *ngIf="offeringGames.length > 1">
                            <button type="submit" float-left ion-button clear icon-only color="primary" class="btnPrev" (click)="prevOffering()"><ion-icon name="arrow-back"></ion-icon></button>
                    </ion-col> -->

                    <!-- <ion-col col-8> -->
                            <ion-slides pager slidesPerView="1.5" centeredSlides initialSlide="0" spaceBetween="3" #offeringSlides>
                                    <ion-slide *ngFor="let game of offeringGames">
                                        <ion-row justify-content-center>
                                                    <img class="game-photo" src="https://{{game.game?.coverPhoto}}" alt="">
                                                    <ion-badge>{{game.game?.pickedGames}} units</ion-badge>
                                        </ion-row>
                                    </ion-slide>
                                </ion-slides>
                    <!-- </ion-col> -->

                    <!-- <ion-col col-2 *ngIf="offeringGames.length > 1"> 
                            <button type="submit" float-right ion-button clear icon-only color="primary" class="btnNext" (click)="nextOffering()"><ion-icon name="arrow-forward"></ion-icon></button>
                    </ion-col> -->
                    

                <!-- </ion-row> -->

                <ion-row *ngIf="isNotTradeInvolved;else receivingBlock" justify-content-start>
                    {{receiverUsername}} is Offering
                </ion-row>

                <ng-template #receivingBlock>
                    <ion-row justify-content-start>
                        Receiving
                    </ion-row>
                </ng-template>

                <ion-row justify-content-center align-items-center>

                        <!-- <ion-col *ngFor="let game of offeringGames">
                            <img class="game-photo" src="https://{{game.game.coverPhoto}}" alt="">
                        </ion-col> -->
    
                        <!-- <ion-col col-2 *ngIf="receivingGames.length > 1">
                                <button type="submit" float-left ion-button clear icon-only color="primary" class="btnPrev" (click)="prevReceiving()"><ion-icon name="arrow-back"></ion-icon></button>
                        </ion-col> -->
    
                        <!-- <ion-col col-8> -->
                                <ion-slides pager slidesPerView="1.5" centeredSlides initialSlide="0" spaceBetween="0" #receivingSlides>
                                        <ion-slide *ngFor="let game of receivingGames">
                                            <ion-row justify-content-center>
                                                    <img class="game-photo" src="https://{{game.game?.coverPhoto}}" alt="">
                                                    <ion-badge>{{game.game?.pickedGames}}</ion-badge>
                                            </ion-row>
                                        </ion-slide>
                                    </ion-slides>
                        <!-- </ion-col> -->
    
                        <!-- <ion-col col-2 *ngIf="receivingGames.length > 1"> 
                                <button type="submit" float-right ion-button clear icon-only color="primary" class="btnNext" (click)="nextReceiving()"><ion-icon name="arrow-forward"></ion-icon></button>
                        </ion-col> -->
                        
    
                </ion-row>
                    
                
                <ion-row *ngIf="!expired && !accepted && isReceiver" justify-content-center>
                    <ion-col>
                            <button ion-button block icon-end color="secondary" (click)="acceptTrade()">Accept<ion-icon name="checkmark"></ion-icon></button>
                    </ion-col>
                    <ion-col>
                            <button ion-button block icon-end color="danger" (click)="declineTrade()">Decline<ion-icon name="close"></ion-icon></button>
                    </ion-col>
                </ion-row>

                <ion-row *ngIf="!expired && !accepted && isProposer">
                        <button ion-button block icon-end color="danger" (click)="declineTrade()">Cancel<ion-icon name="close"></ion-icon></button>
                </ion-row>

                <ion-row *ngIf="!expired && !accepted && (isReceiver || isProposer)" justify-content-center>
                    <button ion-button clear small>revise trade</button>
                </ion-row>

               
        </ng-template>

      </ion-card-content>

    
    </ion-card>

    <!-- <ion-card *ngIf="timer">
        <ion-card-header>
          <button ion-button *ngIf="timeInSeconds && timeInSeconds > 0" large block clear class="timer-button x-large">{{timer.displayTime}}</button>
          <button ion-button *ngIf="!timeInSeconds || timeInSeconds == 0" large block clear class="timer-button">Timer set up incorrectly</button>
        </ion-card-header>
        <ion-item *ngIf="timeInSeconds && timeInSeconds > 0">
          <button ion-button clear class="large" color="danger" (click)="initTimer()" item-start *ngIf="!timer.runTimer && (timer.hasStarted || timer.hasFinished) || timer.hasFinished">
                  <ion-icon name="refresh"></ion-icon>
                  Restart
              </button>
          <button ion-button clear class="large" (click)="pauseTimer()" item-end *ngIf="timer.runTimer && timer.hasStarted && !timer.hasFinished">
                  <ion-icon name="pause"></ion-icon>
                  Pause
              </button>
          <button ion-button clear class="large" (click)="resumeTimer()" item-end *ngIf="!timer.runTimer && timer.hasStarted && !timer.hasFinished">
                  <ion-icon name="play"></ion-icon>
                  Resume
              </button>
          <button ion-button clear class="large" (click)="startTimer()" item-end *ngIf="!timer.hasStarted">
                  <ion-icon name="play"></ion-icon>
                  Start
              </button>
        </ion-item>
      </ion-card> -->
    
    
</div>
