<!--
  Generated template for the DiscoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar hideBackButton="false">
      <ion-title>Discover</ion-title>
      <ion-buttons right>
          <button detail-none icon-right ion-button (click)="showPopover($event)">
              <ion-icon name="more"></ion-icon>
          </button>
      </ion-buttons>
    </ion-navbar>
  
</ion-header>

<ion-content padding>

  <ion-segment [(ngModel)]="type" (click)="segmentChange()" >
        <ion-segment-button value="username">
          By Username
        </ion-segment-button>
        <ion-segment-button value="name">
          By Name
        </ion-segment-button>
  </ion-segment>

  
  <div *ngIf="type == 'username'">
      <ion-searchbar
      placeholder="Search Username"
      [showCancelButton]="shouldShowCancel"
      [debounce]="700"
      (ionChange)="userChange($event)"
      (ionCancel)="onCancel($event)"
      ></ion-searchbar>
  </div>

  <div *ngIf="type == 'name'">
      <ion-searchbar
      placeholder="Search Name"
      [showCancelButton]="shouldShowCancel"
      [debounce]="700"
      (ionChange)="userChange($event)"
      (ionCancel)="onCancel($event)"
      ></ion-searchbar>
  </div>

  <div *ngIf="queryResults.length > 0 ">
      <ion-item id="searchItem" *ngFor="let result of queryResults">
        <ion-row no-padding>

            <ion-col col-3 no-padding>
              <img *ngIf="result.val().coverPhoto !== ''" src="{{result?.val().coverPhoto}}" alt="">
              <ion-text-avatar *ngIf="result.val().coverPhoto == ''">{{result.initialLetter}}</ion-text-avatar>
            </ion-col>

            <ion-col col-9 padding-left>
              <ion-row>
                <div text-wrap> {{result.val().name}} </div>
              </ion-row>
              <ion-row>
                <p text-wrap>{{result.val().username}}</p>
              </ion-row>
              <ion-row>
                <button id="profile" ion-button outline (click)="goToProfile(result.val(),result.key)"> View Profile</button>
              </ion-row>
            </ion-col>
            
        </ion-row>
      </ion-item>
    </div>

    <ion-item *ngIf="queryResults.length === 0 && emptyResult && query !== '' ">
        <ion-row justify-content-center>
          <h4>No results found.</h4>
        </ion-row>
    </ion-item>


  

  
</ion-content>
