<!-- Generated template for the PopoverHeaderComponent component -->

<ion-list>
  <!-- <ion-item (click)="signOut()">
    <ion-icon name="log-out" item-start></ion-icon>
     <div text-center>Sign Out</div> -->
    <!-- <ion-icon name="rose" item-end></ion-icon> -->
  <!-- </ion-item> -->

  <button ion-item (click)="logout()">
      <ion-icon name="log-out" item-start></ion-icon>
      <div text-center>Sign Out</div>
  </button>

  <button ion-item (click)="sendFeedback()">
      <ion-icon name="send" item-start></ion-icon>
      <div text-center>Send Feedback</div>
  </button>


</ion-list>

