page-home-filters {

    .toolbar-background {
        background-color:color($colors,primary);
      }

      .content{
          background-color:#002147;
          .item{
              background:#003169;
              color:white;
              height:80px;
          }
      }

}
