<!--
  Generated template for the AddVideogamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="false">
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row justify-content-center>


  <div class="form-container">

 
    <form [formGroup]="postForm" (ngSubmit)="submitVideogame(postForm.value)">

        <ion-segment [(ngModel)]="type" formControlName="type">
            <ion-segment-button value="offer">
              Offering
            </ion-segment-button>
            <ion-segment-button value="interested">
              Interested
            </ion-segment-button>
            
        </ion-segment>
        

        <ion-row justify-content-center>
          <h2 id="platformText">{{platform}}</h2>
        </ion-row>
        <button ion-button type="button" full (click)="openPlatforms()" id="platformButton">{{platformPlaceholder}}</button>

      <ion-list no-lines>
          <!-- <ion-item class="select-item"> -->
              <!-- <ion-label item-left text-wrap>Select Platform</ion-label>
              <ion-select
              item-left
              [(ngModel)]="platform"
              interface="action-sheet"
              formControlName="platform">
              <ion-option *ngFor="let platform of platforms" (ionSelect)="platformChange(platform.name)">{{platform.name}}</ion-option>
              </ion-select> -->
          <!-- </ion-item> -->



          
              <!-- <select-searchable
                
                  [(ngModel)]="title"
                  formControlName="title"
                  [items]="gameList"
                  itemValueField="title"
                  itemTextField="title"
                  [canSearch]="true"
                  (onChange)="gameChange($event)">
                  <ng-template selectSearchableLabelTemplate>
                      Game Title
                  </ng-template>
              </select-searchable> -->
            <ion-searchbar
              #mySearch
              id="input"
              [showCancelButton]="true"
              [placeholder]="searchPlaceholder"
              [debounce]="700"
              (ionInput)="onSearchInput($event)"
              (ionClear)="onClear($event)"
              (ionCancel)="onCancel($event)">
            </ion-searchbar>

            <div *ngIf="searching" class="spinner-container">
              <ion-spinner></ion-spinner>
            </div>

            <div *ngIf="gameList.length > 0 && !gamePicked">
              <ion-item id="searchItem" *ngFor="let game of gameList" (click)="selectedGame(game)">
                <ion-row no-padding>

                    <ion-col col-3 no-padding>
                      <img src="https://{{game?.cover?.url}}" alt="">
                      <!-- <ion-input [(ngModel)]="coverPhoto" formControlName="coverPhoto" id="imageInput"></ion-input> -->
                    </ion-col>

                    <ion-col col-9 padding-left>
                      <div text-wrap> {{game.name}} </div>
                      <p text-wrap>{{platform}}</p>
                      <div *ngFor="let genre of game.genres; let i = index">
                          <p *ngIf="i == 0" text-wrap>{{genre.name}}</p>
                      </div>
                      <p text-wrap>{{game.first_release_date}}</p>
                      <!-- <div *ngFor="let platform of game.platforms">
                          <p text-wrap> {{platform.name}}</p>
                      </div> -->
                    </ion-col>
                    
                </ion-row>
              </ion-item>
            </div>

          </ion-list>

          


            

          


          <ion-card *ngIf="gamePicked">

              <ion-row justify-content-start>
                  <button ion-button outline (click)="backToList()">Back to List</button>
                </ion-row>
<ion-row>
  <ion-col>
    <img src="https://{{coverPhoto}}" alt="cover">
  </ion-col>

  <ion-col>
      <ion-row>

          <ion-col>
          
              <ion-label>Title</ion-label>
              <ion-textarea text-wrap [(ngModel)]="title" formControlName="title" [disabled]="true"></ion-textarea>
        
          </ion-col>

          <ion-col>
        
              <ion-label>Release Date</ion-label>
              <ion-input text-wrap [(ngModel)]="releaseDate" formControlName="releaseDate" [disabled]="true"></ion-input>
          
          </ion-col>

        </ion-row>


        <ion-row>
          <ion-col>
          
              <ion-label>Genre</ion-label>
              <ion-input [(ngModel)]="genre" formControlName="genre" [disabled]="true"></ion-input>
          
        </ion-col>

        <ion-col>
          
              <ion-label>ESRB Rating</ion-label>
              <ion-input [(ngModel)]="esrbRating" formControlName="esrbRating" [disabled]="true"></ion-input>
          
        </ion-col>
        </ion-row>
  </ion-col>
</ion-row>
            

        </ion-card>
          
            
    
       
      
            
        <button ion-button full type="button" id="bottomBtn" (click)="doSearch()">search</button>
        <button ion-button full id="bottomBtn" [disabled]="!gamePicked" type="submit">add</button>      
        </form>
        <button ion-button full id="bottomBtn" (click)="goToList()" color="secondary">Go to My List</button>


      </div>

    </ion-row>
</ion-content>
