<!--
  Generated template for the AddVideogamePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton="false">
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-row justify-content-center>


  <div class="form-container">

 
    <form [formGroup]="postForm" #gameForm="ngForm" (ngSubmit)="submitVideogame(postForm.value)">

        <ion-segment [(ngModel)]="type" formControlName="type">
            <ion-segment-button value="offer">
              Offering
            </ion-segment-button>
            <ion-segment-button value="interested">
              Interested
            </ion-segment-button>
            
        </ion-segment>
        

        <ion-row justify-content-center>
          <h2 id="platformText">{{platform}}</h2>
        </ion-row>
        <!-- <button ion-button type="button" full (click)="openPlatforms()" id="platformButton">{{platformPlaceholder}}</button> -->

      <ion-list no-lines>

            <!-- <ion-row justify-content-start align-items-center>
              <ion-col col-10> 
                  <ion-searchbar
                  #mySearch
                  id="input"
                  [showCancelButton]="true"
                  (keyup.enter)="doSearch()"
                  [placeholder]="searchPlaceholder"
                  [debounce]="100"
                  (ionInput)="onSearchInput($event)"
                  (ionClear)="onClear($event)"
                  (ionCancel)="onCancel($event)">
                </ion-searchbar>
              </ion-col>
              
              <ion-col col-2>
                <button ion-button clear id="searchButton" *ngIf="!gamePicked" [disabled]="gamePicked || searching || !platform || !searchCondition" (click)="doSearch()" icon-only><ion-icon name="search"></ion-icon></button>
              </ion-col>
            </ion-row> -->

            <ion-item no-lines> 
                                  
                <ion-input
                id="input"
                class="text-input"
                #mySearch
                (keyup.enter)="doSearch()"
                [placeholder]="searchPlaceholder"
                color="dark"
                showCancelButton
                >
                </ion-input>
                                 
                   <button ion-button clear item-right (click)="doSearch()">
                        <ion-icon name="search" item-end></ion-icon>
                   </button>
                                 
                    <button ion-button clear item-right (click)="openPlatforms()">
                        <ion-icon name="settings" item-end></ion-icon>
                    </button>
                              
                </ion-item>
           

            <div *ngIf="searching" class="spinner-container">
              <ion-spinner></ion-spinner>
            </div>

            <div *ngIf="gameList.length > 0 && !gamePicked">
              <ion-item detail-push id="searchItem" *ngFor="let game of gameList" (click)="selectedGame(game)">
                <ion-row no-padding>

                    <ion-col col-3 no-padding>
                      <img src="https://{{game?.cover?.url}}" alt="">
                    </ion-col>

                    <ion-col col-9 padding-left>
                      <div text-wrap> {{game.name}} </div>
                      <div *ngFor="let genre of game.genres; let i = index">
                          <p *ngIf="i == 0" text-wrap>{{genre.name}}</p>
                      </div>
                      <p text-wrap>{{game.first_release_date}}</p>
                      <p text-wrap *ngIf="platform == null">Platforms: {{game.platforms | joinPipe}}</p>
                      <p text-wrap *ngIf="platform !== null">{{platform}}</p>
                      <p text-wrap *ngIf="platform !== null" class="game-offer">{{game.offering_count}} offers</p>
                    </ion-col>
                    
                </ion-row>
              </ion-item>
            </div>

          </ion-list>

          


            

          


          <ion-card class="game-card" *ngIf="gamePicked">

<ion-row>
  <ion-col col-4 align-items-center>
      <img src="https://{{coverPhoto}}" alt="cover">
  </ion-col>

  <ion-col col-8 no-padding>
      <ion-row no-padding>

          <ion-col col-6 no-padding>
          
              <ion-label>Title</ion-label>
              <ion-textarea text-wrap [(ngModel)]="title" formControlName="title" [disabled]="true"></ion-textarea>
        
          </ion-col>

          <ion-col col-6 no-padding>
        
              <ion-label>Release Date</ion-label>
              <ion-input text-wrap [(ngModel)]="releaseDate" formControlName="releaseDate" [disabled]="true"></ion-input>
          
          </ion-col>

        </ion-row>


        <ion-row no-padding>
          <ion-col col-6 no-padding>
          
              <ion-label>Genre</ion-label>
              <ion-input [(ngModel)]="genre" formControlName="genre" [disabled]="true"></ion-input>
          
        </ion-col>

        <ion-col col-6 no-padding>
          
              <ion-label>ESRB Rating</ion-label>
              <ion-input [(ngModel)]="esrbRating" formControlName="esrbRating" [disabled]="true"></ion-input>
          
        </ion-col>
        </ion-row>
  </ion-col>
</ion-row>
            

        </ion-card>
          
            
    
       
      
            
        <!-- <button ion-button full *ngIf="!gamePicked" [disabled]="gamePicked || searching || !platform || !searchCondition" type="button" id="bottomBtn" (click)="doSearch()">search</button> -->
        <!-- <button ion-button full id="bottomBtn" [disabled]="!gamePicked" type="submit">add</button>       -->
        </form>
        <button ion-button full *ngIf="!gamePicked" id="bottomBtn" (click)="goToList()" color="secondary">Go to My List</button>


      </div>

    </ion-row>
</ion-content>


<ion-footer no-padding>
    <ion-row *ngIf="gamePicked" justify-content-center>
        <button ion-button block id="bottomBtn" (click)="gameForm.ngSubmit.emit()">add</button>      
    </ion-row>

    <ion-row *ngIf="gamePicked" justify-content-center>
        <button ion-button block (click)="backToList()">Back to List</button>
    </ion-row>
</ion-footer>
