page-add-videogame {
    .content{
        background:linear-gradient(to right,#005C97 ,#363795);
    }

    .item-md {
        // padding-left: 16px;
        // padding-left: 16px;
        padding-left:10px !important;
        padding-bottom:10px;
        background: transparent;
    }

    ion-select{
        min-width:80% !important;
        color:white;
        
    }

    ion-segment{
        padding-bottom:60px;
        padding-top:10px;
        
    }
    .segment-md .segment-button {
        font-size:17px;
    }

}   
